p{
    margin: 0;
}

#content{
    background-color: #F1F1F1;
    font-family: Roboto;
}
.login-content{
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin: 0 30px;
}

.right-content{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.right-content .right-top{
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid #989898
}

.left-content, .right-content{
    flex: 0 0 calc(50% - 100px);
}

.right-form{
    padding: 40px 33px 24px 33px;
}

.right-form input{
    width: 100%;
    color: #92A3BC;
    border: none;
}

.right-form input:focus {
    outline: none;
    border: none;
}

.right-form input::placeholder{
    color: #92A3BC;
}

.right-form .pass-input{
    margin-top: 32px;
}

.right-form .phone-input, .right-form .pass-input{
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 32px;
}

.right-form .form-item:first-child{
    border-bottom: 1px solid #989898;
}

.right-act {
    position: relative;
}

.right-act .login_lr {
    position: absolute;
    top: 100%;
}

.right-act img[alt="Left Button"] {
    left: -30px;
}

.right-act img[alt="Right Button"] {
    right: -30px;
}

.right-act button{
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 16px 0px 16px 0px;
    border:none;

}
.right-ques{
    padding: 14px 0 24px 0;;
}

.right-ques .ques-exist {
    margin-top: 14px;
}
.right-ques .ques-exist a{
    color: #EE1C51;
}
.loading-icon{
    display: none;
}
@media only screen and (min-width: 1366px) {
    .login-content {
        width: 100%;
        max-width: 1296px;
    }
}

@media only screen and (max-width: 1366px) {
    .left-content, .right-content{
        flex: 0 0 calc(50% - 50px);
    }
}

@media only screen and (max-width: 1024px) {
    .left-content{
        display: none !important;
    }
    .right-content{
        flex: 1;
    }
    .login-content{
        width: 80%;
    }
}

@media only screen and (max-width: 576px){
    .right-act button {
        width: 100%;
        margin-left: 0;
    }
    .right-act img[alt="Left Button"] {
        left: 0;
    }
    
    .right-act img[alt="Right Button"] {
        right: 0;
    }

    .login-content {
        margin: 0 20px;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .right-act{
        display: flex;
    }
    .right-form{
        padding: 20px 13px 20px 13px;
    }
    .phone-input, .pass-input{
        gap: 8px;
    }
    .right-form .phone-input, .right-form .pass-input {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 18px;
    }
    .login-content{
        width: 90%;
    }
    .form-item .pass-input, .form-item .phone-input{
        gap: 8px;
    }

}

