.chu {
  float: right;
  background-color: #f7dbc3;
  padding: 30px 20px 10px 20px;
  margin-bottom: 20px;
}

.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  float: left;
  color: #231f20;
  background-color: #f7dbc3;
}

.cum {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  float: left;
  color: #231f20;
  background-color: #f7dbc3;
}
//f7dbc3