<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách tài khoản</title>
    <link rel="stylesheet" href="/css/admin/admin_not_permission.css" as="style" >
    <link rel="stylesheet" href="/css/common.css" as="style" >
    <link rel="stylesheet" href="/css/admin/leftnav_admin.css" as="style" >
</head>
<body>
    <div class="cnt">
        <div class="cnt-left" id="leftNav">
            <%- include('../layouts/leftnav_admin', {}); %>
        </div>
        <div class="cnt-right" id="rightContent">
            <div class="regis-new-ntd-container">
                <div class="error-text">403</div>
                <p class="fs-4 color-alert text-c fw-500">Bạn không đủ quyền truy cập vào trang này</p>
            </div>
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
</html>
