<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" href="/images/img/icon_head.png">
    <title>Cập nhật điểm nhà tuyển dụng</title>
    <link rel="preload" href="/css/admin/admin_update_point.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/css/admin/admin_update_point.css">
    </noscript>
    <link rel="preload" href="/css/common.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/css/common.css">
    </noscript>
    <link rel="preload" href="/css/admin/leftnav_admin.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/css/admin/leftnav_admin.css">
    </noscript>
</head>
<body>
    <div class="cnt">
        <div class="cnt-left" id="leftNav">
            <%- include('../layouts/leftnav_admin', {}); %>
        </div>
        <div class="cnt-right" id="rightContent">
            <div class="regis-new-ntd-container">
                <div class="regis-ntd-title fs-4 pt-4 pb-3"><b>Cập nhật điểm nhà tuyển dụng</b></div>
                <div class="ntd-count pt-2">
                </div>
                <div class="ntd-update">
                    <div class="ntd-item">
                        <div class="ntd-label">
                            ID nhà tuyển dụng
                        </div>
                        <div class="ntd-form">
                            <input type="text" id="update_comp">
                        </div>
                    </div>
                    <div class="ntd-item">
                        <div class="ntd-label">
                            Điểm cập nhật
                        </div>
                        <div class="ntd-form">
                            <input type="number" id="update_point" min="1">
                        </div>
                    </div>
                    <div class="ntd-item">
                        <div class="ntd-label">
                            Ngày hết hạn
                        </div>
                        <div class="ntd-form">
                            <input type="date" id="update_end_time">
                        </div>
                    </div>
                    <div class="ntd-item">
                        <div class="ntd-label">
                            Loại điểm
                        </div>
                        <div class="ntd-form d-flex gap-3">
                            <div class="ntd-choice">
                                <input type="radio" name="type_point" id="add_point" value="1">
                                <label for="add_point">Thêm điểm</label>
                            </div>
                            <div class="ntd-choice">
                                <input type="radio" name="type_point" id="sub_point" value="2">
                                <label for="sub_point">Trừ điểm</label>
                            </div>
                        </div>
                    </div>
                    <div class="ntd-act">
                        <button class="ntd-cancel-btn">
                            Hủy
                        </button>
                        <button class="ntd-update-btn">
                            Cập nhật
                        </button>
                    </div>
                </div>

                <div class="loading-box" style="display: none;">
                    <div class="loading-img">
                        <img src="/images/icon/Rolling.svg">            
                    </div>
                </div>
                <div class="cnt-mag-paginate d-flex justify-c flex-wr pt-2">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function formatDate(dateString) {
        var date = new Date(dateString * 1000);
        var day = String(date.getDate()).padStart(2, '0');
        var month = String(date.getMonth() + 1).padStart(2, '0');
        var year = date.getFullYear();
        return `${day}/${month}/${year}`;
    }

    function formatDateTime(date, startOfDay = true) {
        const pad = (num) => String(num).padStart(2, '0');
        const day = pad(date.getDate());
        const month = pad(date.getMonth() + 1);
        const year = date.getFullYear();
        const hour = startOfDay ? '00' : '23';
        const minute = startOfDay ? '00' : '59';
        const second = startOfDay ? '00' : '59';
        const millisecond = startOfDay ? '000' : '999';
        return `${year}-${month}-${day}T${hour}:${minute}:${second}.${millisecond}`;
    }
    function deleteCookie(name) {
        document.cookie = name + '=; Max-Age=0; path=/;';
    }
    function logout() {
        deleteCookie('adminToken');
        deleteCookie('adminRefToken');
        deleteCookie('adm_id');
        deleteCookie('adm_name');
        deleteCookie('adm_email');
        deleteCookie('adm_phone');
        deleteCookie('adm_bophan');
        deleteCookie('id_bophankd');
        deleteCookie('adm_picture');
        deleteCookie('typeadmin');
        deleteCookie('isLogin');
        deleteCookie('confirmBoxSeen')
        window.location.href = '/admin';
    }
    $(document).ready(function () {
        function convertToSlug(text) {
            return text.toLowerCase()
                .normalize('NFD')
                .replace(/[\u0300-\u036f]/g, '')
                .replace(/[^a-z0-9 ]+/g, '')
                .replace(/\s+/g, '-')
                .replace(/-+/g, '-');
        }
        $('.ntd-update-btn').click(function(){
            const typePointInput = $('input[name="type_point"]:checked');
            console.log(typePointInput.val());
            if (!typePointInput.val()) {
                alert("Vui lòng chọn loại điểm cập nhật");
                typePointInput.trigger("focus");
                return;
            }
            if(!$('#update_comp').val()){
                    alert("Vui lòng nhập ID công ty");
                    return;
                }
            if(!$('#update_point').val()){
                alert("Vui lòng nhập số điểm");
                return;
            }
            if(!$('#update_end_time').val()){
                alert("Vui lòng nhập ngày hết hạn");
                return;
            }
            var point = typePointInput.val() == 1 ? $('#update_point').val() : -($('#update_point').val());
            var id = $('#update_comp').val();
            var date = $('#update_end_time').val();
            if (confirm("Xác nhận cập nhật điểm?")) {
                console.log(point);
                $.ajax({
                    url: "http://localhost:3057/api/topcv1s/admin/AddSubPointCompany",
                    type: "POST",
                    headers: {
                        "Authorization": "Bearer " + getCookie('adminToken')
                    },
                    data: {
                        usc_id : id,
                        point_usc : point,
                        day_end : date
                    },
                    success: function (response) {
                        alert("Cập nhật điểm thành công");
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.error && xhr.responseJSON.error.message) {
                            alert(xhr.responseJSON.error.message);
                        } else {
                            alert("Có lỗi xảy ra, vui lòng thử lại");
                        }
                    },
                })
            }
        });
    })
</script>
</html>
