<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập admin</title>
    <link rel="stylesheet" href="/css/admin/login_admin.css" as="style" >
    <link rel="stylesheet" href="/css/common.css" as="style" >
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="login-container">
        <form class="login-form">
            <h2>Đăng nhập</h2>
            <div class="input-group">
                <label for="username">Tên tài khoản</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="input-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password">
            </div>
            <button onclick="loginAdmin()">Đăng nhập</button>
        </form>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var isLogin = getCookie("isLogin");
            var adminToken = getCookie("adminToken");
            if (adminToken) {
                window.location.href = '/ung-vien-dang-ky-moi';
                console.log(login);
            }
        });
        console.log()
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        function loginAdmin() {
            event.preventDefault();
            const data = {
                username: $("#username").val(),
                password: $("#password").val()
            };
            $.ajax({
                url: "http://localhost:3050/api/topcv1s/admin/login",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.data.result === true) {
                        document.cookie = `adminToken=${response.data.data.Token}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `adminRefToken=${response.data.data.RefreshToken}; max-age=${365 * 24 * 60 * 60}`;
                        document.cookie = `adm_id=${response.data.data.data.adm_id}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `typeadmin=${response.data.data.data.type}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `isLogin=true; max-age=${60 * 24 * 60 * 60}`;
                        alert("Đăng nhập thành công");
                        window.location.href = "/ung-vien-dang-ky-moi";
                    } else {
                        alert("Tài khoản hoặc mật khẩu không chính xác");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    if (xhr.status === 400) {
                        alert("Tài khoản hoặc mật khẩu không chính xác");
                    } else {
                        console.error("Error:", error);
                        alert(`Đã xảy ra lỗi khi đăng nhập`);
                    }
                },
            });
        }
    </script>
</head>
</body>
</html>