.cv_page {
  background-image: url(cvmain2.png);
}
#cv-top {
  background: url(cvtop2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
span#cv-profile-job {
  background-color: #4b977f;
}
#form-cv .icf1 {
  background-color: #4b977f;
}

#form-cv .icf2 {
  background-color: #4b977f;
}
#form-cv .icf3 {
  background-color: #4b977f;
}

#form-cv .icf4 {
  background-color: #4b977f;
}

#form-cv .icf5 {
  background-color: #4b977f;
}
.cum {
  color: #4b977f;
}
.ski {
  color: #4b977f;
}
#cvo-experience-blocktitle {
  color: #4b977f;
}