#cv-top {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #616161 10%, transparent 10%);
}

#cvo-profile-avatar-wraper {
  width: 27%;
  float: left;
  display: table;
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: 35px;
  background: linear-gradient(to bottom, #e3e3e3 30%, transparent 10%);
}

#box-hvt {
  float: right;
  width: 50%;
  padding: 0;
  margin-right: 35px;
  padding-top: 64px;
  border-bottom: 3px solid #616161;
  padding-bottom: 60px;
}

#box02 .box-content::before {
  content: "";
  background: url(iconmtnn2.svg) no-repeat;
  display: block;
  width: 27px;
  height: 18px;
  position: relative;
  top: -9px;
  left: -20px;
}

#box02 .box-content::after {
  content: "";
  background: url(iconmtnn2.svg) no-repeat;
  display: block;
  width: 27px;
  height: 18px;
  position: relative;
  top: 11px;
  right: -340px;
}

.time {
  width: 15%;
  margin-right: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #616161;
  border-radius: 15px;
}

#cv-main {
  text-align: justify;
  margin: 0 35px 24px 0px;
  padding: 0;
  position: relative;
  float: right;
  width: 38%;
  background-color: #e3e3e3;
}

.watermark_js {
  margin-right: -10px;
  background-color: #616161;
  color: #fff;
}