/* Zoom cv  */
#cv-profile-birthday:before,
#cv-profile-sex:before,
#cv-profile-phone:before,
#cv-profile-email:before,
#cv-profile-address:before,
#cv-profile-face:before {
	color: #9197a3 !important;
	font-weight: 100 !important;
	padding: 3px !important;
}

[contenteditable='true']:empty:before {
	content: attr(cvo-placeholder);
	color: #9197a3;
	font-weight: 100;
	padding: 3px;
}

.select2-search .select2-search--inline {
	display: flex;
	align-items: center;
	justify-content: center;
}