#content{
    font-family: Roboto;
    
}

.lcandi{
    position: relative;
    background: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 76px;
}
.lcandi-breadcrumbs ol{
    margin-top: 0px;
    margin-bottom: 29.75px;
    padding-left: 0px;
}

.lcandi-breadcrumbs li{
    list-style-type: none;
}

.breadcrumb{
    color: #00b14f;
    font-size: 18px;
}
.breadcrumb a{
    margin-right: -4px;
}
.breadcrumb::after{
    content: "";
    display: inline-block;
    background-image: url(/images/icon/arrow-right.svg);
    width: 14px;
    height: 14px;
    /* margin-right: 4px;
    margin-left: 4px; */
}
.breadcrumb-active{
    color: #000000;
    font-size: 18px;
}

.lcandi-content{
    gap: 30px;
}
.lcandi-left{
    flex-grow: 1;
    width: 100%;
}
.lcandi-list, .lcandi-fil-list{
    gap: 30px;
}
.lcandi-list{
    margin-bottom: 30px;
}
.outline_main{
    outline: 1px solid #00b14f;
}
.lcandi-right{
    display: none !important;
    border: 1px solid#00b14f;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    height: 100%;
    width: calc(30% - 15px);
}

.icandi-head{
    padding-top: 14px;
    padding-bottom: 14px;
}
.icandi-onl{
    padding: 15px 24px 8.5px 24px;
}
.icandi-onl-item:not(:last-child){
    margin-bottom: 15px;
}
.icandi-onl-more{
    font-size: 13px;
    margin-bottom: 9.5px;
    text-align: end;
}

.icandi-onl-loc{
    margin-bottom: 3px;
}

.icandi-onl-name{
    color: #474747;
}
.icandi-onl-loc, .icandi-onl-pos{
    color: #666666;
}
.icandi-onl-avar{
    position: relative;
}
.icandi-onl-btn{
    background-color: #76B51B;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 5%;
    bottom: 10%;
}

.lcandi-list-item,.lcandi-fil-item{
    padding: 15px 21px;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
}
.lcandi-list-pos,.lcandi-fil-pos{
    margin-bottom: 11px;
}
.lcandi-list-name,.lcandi-fil-name{
    margin-bottom: 21px;
}
.lcandi-list-gener,.lcandi-fil-gener{
    color: #474747;
    flex-wrap: wrap;
    row-gap: 8px;
}
.lcandi-list-detail,.lcandi-fil-detail{
    flex-grow: 1;
}
.lcandi-list-save,.lcandi-list-contact,.lcandi-fil-save,.lcandi-fil-contact{
    border-radius: 10px;
    width: 95px;
    outline: none;
    border: 1px solid #00b14f;
    height: 37px;
    cursor: pointer;
}
.lcandi-list-save{
    justify-content: space-around;
}
.lcandi-list-save span{
    text-wrap: nowrap;
}
.lcandi-list-more{
    padding: 7.5px 23px;
    border-radius: 41px;
    border:none;
    cursor: pointer;
    margin-bottom: 83px;
}
.lcandi-list-avar-mb img, .lcandi-list-avar img{
    object-fit: cover;
}
.lcandi-list-avar-mb, .lcandi-fil-avar-mb{
    display: none;
}
.lcandi-list-avar, .lcandi-fil-avar,.lcandi-list-avar-mb, .lcandi-fil-avar-mb{
    position: relative;
}
.lcandi-list-onltime,.lcandi-fil-onltime{
    position: absolute;
    font-size: 10px;
    padding: 2px 8px;
    background-color: #F4FCE9;
    border-radius: 32px;
    bottom: 10%;
    right: -5%;
}
.lcandi-fil-act{
    gap: 19px;
    margin-bottom: 40px;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    cursor: grab;
    -ms-overflow-style: none;  /* Ẩn thanh cuộn trên Internet Explorer và Edge */
    scrollbar-width: none;    /* Ẩn thanh cuộn trên Firefox */
}
.lcandi-fil-act::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên Chrome, Safari và Opera */
}

.lcandi-fil-nav{
    background-color:#0075801A;
    color: #00b14f;
    padding: 10px 39px;
    border-radius: 41px;
    cursor: pointer;
    flex-shrink: 0
}
.lcandi-fil-nav.active{
    background-color: #00b14f;
    color:#ffffff;
}
.lcandi-list-info{
    flex-grow: 1;
}
.custom-select-input input{
    border: none;
}
.loading-icon{
    display: none;
}
.blog_find_candidate{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.blog_container{
    display: flex;
    background: #fff;
    justify-content: space-between;
}
.blog_img_find_candidate{
    margin: auto;
    width: 100%;
}
.blig_img_title{
    margin: auto;
    margin-top: 10px;
    font-weight: 600;
}
.blog_find_candidate p{
    line-height: 1.8;
    margin-top: 0;
    text-align: justify;
}
.blog_find_candidate a{
    color: blue;
}
.table_index {
    float: right;
    height: 100%;
    margin-top: 35px;
    background-color: #0075801a;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.table_index span{
    text-align: center;
    font-size: 22px;
}
.table_index span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.table_index ul {
    list-style-type: none;
    padding-left: 0;
}

.table_index li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.table_index li ul {
    padding: 10px 0 0 20px; 
}

@media only screen and (max-width: 1200px) {
    .lcandi-content{
        flex-direction: column;
        gap: 62px;
    }
    .lcandi-right,.lcandi-left{
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    .blog_container{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 768px) {
    .lcandi-list-avar, .lcandi-fil-avar{
        display: none;
    }
    .lcandi-list-avar-mb, .lcandi-fil-avar-mb{
        display: block;
    }
    .lcandi-list-item,.lcandi-fil-item{
        flex-direction: column;
        gap: 19px;
        align-items: flex-start !important;
    }
    .lcandi-list-info,.lcandi-fil-info{
        align-items: flex-start !important;
    }
    .lcandi-list-gener,.lcandi-fil-gener{
        flex-wrap: wrap;
        gap: 10px 48.5px;
        font-size: 13px;
    }
    .lcandi-list-gloc,.lcandi-fil-gloc{
        width: 100%;
    }
    .lcandi-list-btn,.lcandi-fil-btn{
        flex-direction: unset !important;
    }

    .lcandi-fil-pos,.lcandi-fil-name ,.lcandi-list-pos,.lcandi-list-name{
        font-size: 16px !important;
    }
}

