@page {
  size: A4;
  margin: 0;
  padding: 0;
}

.watermark_js {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 0px;
  font-size: 15px;
  font-family: Courier;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.err_cv_content {
  outline: red dashed 1px;
}

#cvo-profile-avatar-wraper img {
  display: table !important;
}

b {
  font-weight: 700;
}

#form-cv b {
  font-weight: 700 !important;
}

.cvo-form {
  display: none;
}

#sortable .ic {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

[cvo-form-field] {
  cursor: text;
}

[cvo-form-field][type="rate"] {
  cursor: pointer;
}

[cvo-form-field]:hover {
  outline: 1pt dashed #77a5cc;
}

[cvo-form-field].disabled {
  outline: 0;
  cursor: default;
  background-color: #eee;
  color: transparent;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

[cvo-form-field][type="text"]:focus {
  cursor: text;
}

.fieldgroup_controls {
  text-align: right;
  position: absolute;
  display: none;
  top: -34px;
  right: 0;
  text-shadow: none;
  min-width: 200px;
  font-family: arial, sans-serif;
}

.fieldgroup_controls * {
  text-shadow: none;
}

.fieldgroup_controls .clone,
.fieldgroup_controls .remove {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  margin: 0 auto;
  line-height: 14px;
  font-size: 11px;
  width: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.fieldgroup_controls .clone {
  font-size: 12px;
  background-color: #3cb371;
  width: 60px;
}

.fieldgroup_controls .clone:hover {
  background-color: green;
}

.fieldgroup_controls .remove {
  background-color: #f15c4c;
  font-size: 12px;
  width: 70px;
}

.fieldgroup_controls .remove:hover {
  background-color: red;
}

img[cvo-form-field][type="image"]:hover {
  outline: 1px dashed #77a5cc;
  cursor: pointer;
}

#cv-top h1 span,
#cv-top h2 span {
  width: 100%;
}

[contentEditable="true"] {
  content: attr(cvo-placeholder);
  width: 100%;
  min-height: 1em;
  display: inline-block;
  position: relative;
  min-width: 25pt;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

[contenteditable="true"]:empty:before {
  content: attr(cvo-placeholder);
  color: #9197a3;
  font-weight: 100;
  padding: 3px;
}

#cv-title {
  padding: 5px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  font-size: 20px;
}

#cv-title[contenteditable] {
  outline: 1px dashed #ccc;
}

.cvo-block:hover .blockControls {
  display: block;
}

#blockControls {
  display: none;
}

.cvo-block .blockControls {
  font-family: arial, sans-serif;
  position: absolute;
  height: 36px;
  top: -36px;
  left: 0;
  text-align: center;
  padding: 0 8px;
  text-shadow: none;
  display: none;
  background-color: #ccc;
  opacity: 1;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.cvo-block .blockControls * {
  text-shadow: none;
}

.cvo-block .blockControls .down,
.cvo-block .blockControls .hide,
.cvo-block .blockControls .show-layout-editor,
.cvo-block .blockControls .up {
  font-family: tahoma;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  margin: 0 auto;
  line-height: 14px;
  font-size: 12px;
  width: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 6px;
}

.cvo-block .blockControls .hide {
  background-color: #f15c4c;
  width: 90px;
}

.cvo-block .blockControls .hide:hover {
  background-color: red;
}

.cvo-block .blockControls .down,
.cvo-block .blockControls .show-layout-editor,
.cvo-block .blockControls .up {
  width: 23px;
  background-color: #fcfcfc;
  color: #666;
}

.cvo-block .blockControls .down:hover,
.cvo-block .blockControls .show-layout-editor:hover,
.cvo-block .blockControls .up:hover {
  color: #18b18f;
}

.select2-container {
  font-size: 12px;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border-color: #e3e3e3;
}

.select2-dropdown {
  border-color: #e3e3e3;
}

.select2-container--default .select2-results>.select2-results__options {
  font-size: 12px;
}

.edit-content[contenteditable="true"] {
  display: block;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

.exp .ctbx {
  display: table;
  width: 100%;
  position: relative;
}

#experience-table .ctbx {
  position: relative;
}

p.skill-name input {
  border-bottom: 0;
  font-size: 14px;
  border: 0;
}

#cv-right .icoweb i.fa {
  color: #cd3301;
  font-size: 21px;
  float: left;
  margin-top: 5px;
}

#cv-title.non-printable {
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

#cv-content .cvo-block {
  position: relative;
  padding: 5px 10px;
}

#cv-content .head,
#cv-right .h3 {
  background: 0 0;
  text-align: left;
}

#cv-content h3 {
  margin-bottom: 10px;
}

.cv_page {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
  padding: 0;
  border: 1px solid #d1d1d1;
}

.cv_page:last-child {
  margin-bottom: 0;
}

.cv_page #cv-content .ir .cvo-block {
  float: left;
}

.cv_page.height_page {
  height: 1122px;
}

.connectedSortable {
  float: left;
}

div#sort_block,
#cv-right .ir {
  width: 100%;
}

.page_more #cv-content,
.page_more #cv-main,
.page_more .all,
.page_more #sort_block,
.page_more #sortable,
.page_more #cv-main #cv-right,
.page_more #cv-content .ir,
.page_more #cv-main .ir {
  top: 0 !important;
}

.page_more #cv-main {
  padding-bottom: 0px !important;
}

#page-cv {
  width: 790px;
  float: left;
  position: relative;
}

#page-cv #cv-content span {
  width: 100%;
  z-index: 0;
}

#cv-content .exp-date {
  float: right;
}

#form-cv {
  background: #fff;
}

.editor-control {
  float: left;
  cursor: pointer;
  min-width: 30px;
  border: 1px solid #efefef;
  border-right: 0;
}

.disabled {
  position: relative;
}

.disabled:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: not-allowed;
  z-index: 9;
}

.disabled .editor-control {
  color: #888;
  cursor: not-allowed;
}

.editor-control.actived {
  background: #02b5e1;
  color: #fff;
}

@media screen and(max-height: 700px) {
  html,
  body {
    height: 600px !important;
    overflow: hidden;
  }
}