* {
    font-family: Roboto;
}

.breadcrumb {
    display: flex;
    gap: 11px;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    color: #00b14f;
    margin-bottom: 27px;
}

.breadcrumb-item {
    display: flex;
    gap: 11px;
}

.breadcrumb-item:not(:last-child)::after {
    content: url(/images/icon/next-double-line.svg);
    display: block;
    width: 17px;
    height: 17px;
}

.news {
    background-color: #F1F2F2;
    padding-bottom: 60px;
}

.news_cnt {
    gap: 36px;
    padding: 16px 26px 44px 26px;
}

.news_new {
    gap: 18px;
    margin-bottom: 40px;
}

.news_lef {
    width: calc(60% - 18px);
}

.news_rig {
    width: calc(40% - 18px);
}

.news-head {
    margin-bottom: 24px;
    border-bottom: 1px solid #B3B3B3
}

.news-tit {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 13px 0;
    border-bottom: 3px solid #00b14f;
    display: inline-block
}

.news_list-cnt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 50px;
    height: 2040px;
}

.news_tit {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15.5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.news_des_blog{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news_thumb {
    width: calc(37% - 16px);
}

.news_info {
    width: calc(63% - 16px);
}

.news_more {
    margin-bottom: 15.5px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #636363;
    gap: 20px;
    flex-wrap: wrap;
}

.news_paginate {
    display: flex;
    gap: 11.5px;
    font-weight: 500;
    padding: 6px 0;
    border-top: 2px solid #C6C6C6;
    width: fit-content;
}

.paginate-item.active {
    color: #00b14f;
    font-weight: 900;
}

.news_item {
    display: flex;
    gap: 32px;
    padding: 8px 0; 
    min-height: 170px;  
}
.news_item:not(:last-child){
    border-bottom: 1px solid #00b14f;
}

.news_time,
.news_author {
    gap: 6px;
    display: flex;
    align-items: center;
}

.news_new-cnt {
    gap: 18px;
}

.news_new_thumb {
    background-color: #F1F1F1;
}

.news_new_thumb--cnt {
    padding: 14px;
}

.news_new_thumb--tit {
    margin-bottom: 12px;
}

.news_new_thumb--inf {
    font-size: 13px;
    color: #636363;
    margin-bottom: 12px;
    gap: 20px;
}

.news_new_thumb--des,
.news_grid--item-cnt .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news_new--item .item_tit {
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news_new--item .item_time {
    font-size: 13px;
    color: #636363;
}

.news_new--item .item_thumb {
    max-width: calc(37% - 4px);
}

.news_new--item .item_cnt {
    max-width: calc(63% - 4px);
}

.news_hb {
    margin-bottom: 40px;
}

.news_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.news_grid--item {
    background-color: #F1F1F1;
}

.news_grid--item-cnt {
    padding: 13px;
}

.news_grid--item-cnt .title {
    margin-bottom: 10px;
}

.time {
    font-size: 13px;
    color: #636363;
}

.news_cv_top {
    margin-bottom: 26px;
    gap: 32px;
}

.news_search {
    border: 1px solid #000000;
    margin-bottom: 20px;
}

.news_search input {
    border: none;
    outline: none;
    width: 100%;
    padding: 16px 20px;
}

.news_search input::placeholder {
    color: #909090;
}

.news_search_btn {
    border: none;
    background-color: #00b14f;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.job_item {
    padding: 10px;
}

.job_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.job_info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.job_logo {
    width: 70px;
    height: 70px;
}

.job_logo img {
    border-radius: 50%;
}

.job_tit {
    font-weight: 700;
    margin-bottom: 9px;
    color: #00b14f;
}

.job_comp {
    font-weight: 700;
    font-size: 14px;
    color: #5C5C5C;
}

.job_label {
    padding: 0 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.job_label label {
    padding: 2px 6px;
    background: #F1F1F1;
    border-radius: 5px;
}

.new_list {
    margin-left: 30px;
}

.new_list li {
    list-style-type: disc;
}

.new_list li:not(:last-child) {
    margin-bottom: 24px;
}
.paginate-item{
    background-color: transparent;
    border: none;
}
.paginate-item.active {
    color: #00b14f;
    font-weight: 900;
}
.news_paginate button{
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.news_paginate button:disabled{
    opacity: 0.3;
}
.news_sitem{
    display: flex;
    gap: 8px;
    padding: 8px 0;
    border-bottom: 1px solid #00b14f;
}
.ratio {
    position: relative;
    width: 100%;
}

.ratio>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ratio::before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
}
.ratio-content img{
    object-fit: cover;
    height: 100%;
}
.ratio-16x9 {
    --bs-aspect-ratio: calc(9 / 16 * 100%);
}

.ratio-4x3 {
    --bs-aspect-ratio: calc(3 / 4 * 100%);
}

.ratio-1x1 {
    --bs-aspect-ratio: 100%;
}

.ratio-3x2 {
    --bs-aspect-ratio: calc(2 / 3 * 100%);
}
.ratio-content{
    box-shadow: 1px #00b14f;
}
.news_thumb{
    width: calc(30% - 4px);
}
.news_info{
    width: calc(70% - 4px);
}
.job_logo img{
    border-radius: 50%;
    outline: 1px solid #00b14f;
}
@media only screen and (max-width: 1024px) {
    .news_cnt {
        flex-direction: column;
    }
    .news_lef,
    .news_rig {
        width: 100%;
    }

    .news_list-cnt {
        height: fit-content;
    }
}

@media only screen and (max-width: 768px) {
    .news_new-cnt {
        flex-direction: column;
        gap: 16px;
    }
    .news_grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .news_cv_top {
        flex-direction: column;
        gap: 0;
    }
    .news_cv_top-info {
        padding: 13px;
    }
    .ratio-md-16x9 {
        --bs-aspect-ratio: calc(9 / 16 * 100%);
    }
    .ratio-md-3x2 {
        --bs-aspect-ratio: calc(2 / 3 * 100%);
    }      
    .news_thumb,.news_info{
        width: 100%;
    }
}