/* @import url("https://fonts.cdnfonts.com/css/tahoma"); */

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: sun-exta;
  font-display: swap;
  src: url(/fonts/exta/Sun-ExtA.eot);
  src: url(/fonts/exta/Sun-ExtA.eot?#iefix) format("embedded-opentype"),
    url(/fonts/exta/Sun-ExtA.woff2) format("woff2"),
    url(/fonts/exta/Sun-ExtA.woff) format("woff"),
    url(/fonts/exta/Sun-ExtA.ttf) format("truetype"),
    url(/fonts/exta/Sun-ExtA.svg#Sun-ExtA) format("svg");
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: Roboto-Medium;
  font-display: swap;
  src: url(/fonts/Roboto-Medium.woff2);
}
body {
  line-height: unset;
  height: 100vh;
  font-family: Roboto-Regular, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

#page-taocv .editor-control {
  position: unset;
  width: 36px;
  color: #888;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.gap_12 {
  gap: 12px;
}

.cursor_pt {
  cursor: pointer;
}

.d_none {
  display: none;
}

.img16 {
  width: 16px;
  height: 16px;
}

.img24 {
  width: 24px;
  height: 24px;
}

.img31 {
  width: 31px;
  height: 31px;
}

.img33 {
  width: 33px;
  height: 33px;
}

.img19 {
  width: 19px;
  height: 19px;
}

.img_thoat {
  display: none;
}

.img26 {
  width: 26px;
  height: 26px;
}

.img75 {
  width: 75px;
  height: 75px;
}

.boder_nngu {
  border: 3px solid #00b14f;
  border-radius: 50%;
}

.footer_main {
  display: none;
}

.active_menu {
  font-size: 13px !important;
  line-height: 18px !important;
  opacity: 1 !important;
  color: #00b14f !important;
  font-family: "Roboto-Medium" !important;
}

.active_anh_show {
  display: block !important;
}

.active_anh_hide {
  display: none !important;
}

.banner {
  background-image: url(/images/CV/tao-cv/banner_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .title {
  font-size: 36px;
  color: #fff;
  font-weight: 800;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  margin: auto;
  width: 1200px;
}

.list_breadcrumb,
.breadcrumb {
  display: flex;
  gap: 4px;
  padding-top: 0;
  background-color: #f0faff;
}

.breadcrumb span {
  font-size: 14px;
  line-height: 1.5;
  color: #3582cd;
}

.breadcrumb span:nth-child(2) {
  color: #000000;
}

.select {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.language,
.job {
  height: 100%;
  width: 220px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background-color: white;
  outline: none;
  font-size: 16px;
  color: #666;
}

.language .img,
.job .img {
  width: 24px;
  height: 24px;
}

.desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#page-taocv {
  color: #474747;
  background-color: #f0faff;
}

.container_taocv_parent {
  width: 100%;
  height: calc(100% - 68px);
  flex-grow: 1;
}

.container_taocv {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #f1f2f6;
  height: 100%;
  position: relative;
}

.box_sidebar {
  scrollbar-width: thin;
}

#m_pagetaocv .sidebar_left {
  width: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
  overflow-y: scroll;
}

.sidebar_left.box_suggest::-webkit-scrollbar {
  width: 2px;
}

.icon_sidebar_left {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.icon_sidebar_left#rutgon_mobile .icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #00b14f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_sidebar_left#rutgon_mobile {
  padding-right: 10px;
  display: none;
}

.icon_sidebar_left#rutgon_mobile .txtic_sidebar_left {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  transform: rotate(45deg);
}

.icon_sidebar_left#rutgon {
  height: 30px;
}

.icon_sidebar_left#rutgon .img31 {
  width: auto;
  height: auto;
}

.icon_sidebar_left.rutgon .img31 {
  transform: rotate(180deg);
}

.icon_sidebar_left.rutgon .txtic_sidebar_left {
  display: none;
}

.icon_sidebar_left:hover .ic_check,
.icon_sidebar_left.active .ic_check {
  display: none;
}

.icon_sidebar_left:hover .ic_check_blue,
.icon_sidebar_left.active .ic_check_blue {
  display: block;
}

.icon_sidebar_left:hover .txtic_sidebar_left,
.icon_sidebar_left.active .txtic_sidebar_left {
  color: #00b14f;
  opacity: 1;
}

.container_sidebar_left {
  background: #fff;
  display: flex;
  position: relative;
  height: 100%;
  /* z-index: 999; */
}

.container_sidebar_left.rutgon {
  height: unset;
  position: absolute;
  right: 0;
}

.txtic_sidebar_left {
  font-weight: 500;
  font-size: 13px;
  opacity: 0.5;
  line-height: 17px;
  width: 78px;
  text-align: center;
}

.container_content_taocv {
  background-color: #fafafa;
  width: calc(100% - 440px);
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.container_content_taocv .content_cv {
  position: sticky;
  top: 78px;
  width: 390px;
  background-color: #fff;
  margin-top: 58px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
}

.container_content_taocv .content_cv .box_hdvietcv {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
}

.container_content_taocv .content_cv .box_hdvietcv .container_show {
  padding: 0 10px;
}

.container_content_taocv .same_job_cv {
  background-color: #fff;
  padding: 12px 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.container_content_taocv .same_job_cv .btn_box {
  border-radius: 4px;
  overflow: hidden;
}

.container_content_taocv .same_job_cv .btn_box .btn {
  width: 35px;
  height: 52px;
  background-color: #ccc;
  color: #fff;
  font-size: 36px;
}

.container_content_taocv .same_job_cv .same_cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 272px;
}

.container_content_taocv .same_job_cv .same_cv .title {
  font-size: 28px;
  line-height: 32px;
  color: #3582cd;
  font-family: "Times New Roman", Times, serif;
}

.container_content_taocv .same_job_cv .same_cv .img {
  width: 100%;
  height: 364px;
  position: relative;
}

.container_content_taocv .same_job_cv .same_cv .img .hover_img {
  display: none;
}

.container_content_taocv .same_job_cv .same_cv .img:hover .hover_img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  background: rgba(67, 67, 67, 0.6);
}

.container_content_taocv .same_job_cv .same_cv .img:hover .hover_img button {
  width: 150px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: rgba(67, 67, 67, 0.6);
  color: #fff;
  padding: 10px 0px;
  border-radius: 20px;
  height: auto;
  border: solid #fff;
}

.container_content_taocv .same_job_cv .same_cv .img:hover .hover_img button:nth-child(2) {
  background-color: #ff9254;
}

.container_content_taocv .same_job_cv .same_cv .img:hover .hover_img .f_btn:hover {
  color: #00b14f;
  background-color: rgb(255, 255, 255);
}

.container_content_taocv .same_job_cv .txt {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
}

.container_sidebar_rigth {
  width: 41px;
  position: absolute;
  left: 5px;
  bottom: 100px;
}

.show_sidebar {
  width: 350px;
  padding: 0px 16px;
  overflow: auto;
}

.show_sidebar::-webkit-scrollbar {
  background: #b5bdf9;
  border-radius: 5px;
  width: 3px;
}

.ic_thugon {
  position: absolute;
  left: -20px;
  top: calc(50% - 55px);
  z-index: 45;
  transform: rotate(180deg);
  height: 97px;
  width: 20px;
}

.text_cv {
  font-weight: 400;
  font-size: 14px;
  color: #000000 !important;
  line-height: 18px;
}

.title_show {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  justify-content: center;
  line-height: 24px;
  border-bottom: 1px solid #d1d1d1;
}

.box_doimaucv .content_show_cv {
  padding: 15px 0px 50px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 19px;
  row-gap: 15px;
  column-gap: 19px;
  justify-content: space-around;
}

.box_doimaucv .container_show_cv {
  width: 148px;
}

.box_doimaucv .show_cv {
  width: 148px;
  height: 187px;
}

.box_doimaucv .img_doi_cvmau {
  width: 100%;
  object-fit: cover;
}

.box_show_cv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text_cv {
  text-align: center;
}

.container_show_tmuc {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

:is(.box_show_mucchuasd, .box_show_mucdasd) {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

:is(.mucchuasd, .mucdasd) {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 6px 8px;
  width: 100%;
  background: #0075801A;
  border-radius: 4px;
}

:is(.mucchuasd, .mucdasd)>img {
  width: 24px;
}

:is(.show_mucchuasd, .show_mucdasd) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 6px 10px;
}

:is(.txt_frame_mcsd, .txt_frame_mdsd) {
  width: 100%;
  text-align: left;
  border-right: 1px dotted #a7a7a7;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #00b14f;
}

:is(.mucchuasd_frame, .mucdasd_frame) {
  width: calc(100% - 68px);
}

:is(.txt_mucchuasd, .txt_mucdasd) {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto-Medium";
  line-height: 24px;
}

.container_show_hdvcv {
  padding-top: 12px;
  width: 100%;
}

.box_hdavietcv {
  display: none;
}

.box_hdavietcv.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.txt_show {
  font-size: 28px;
  color: #3582cd;
  line-height: 32px;
  font-weight: 500;
  font-family: Roboto;
}

.txt_hdvietcv {
  width: 100%;
  font-size: 18px;
  font-family: "Roboto-Medium";
  line-height: 24px;
  text-align: center;
}

.txt_hdanvietcv {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.show_tthd_vlgy {
  color: #76b51b !important;
  background: #f4fce9;
  border-radius: 24px;
  padding: 3px 2px;
  position: absolute;
  font-size: 9px;
  line-height: 10px;
  font-family: roboto;
  bottom: 2px;
  right: 0px;
}

.img_avatar {
  width: 46px;
  height: 46px;
  cursor: pointer;
  border-radius: 99em;
}

.box_show_imgaevlgy {
  position: relative;
  width: 46px;
  height: 46px;
}

.container_show_vlgy {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  gap: 8px;
  width: 100%;
}

.content_show_vlgy {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.box_show_inforvlgy {
  width: calc(100% - 54px);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

:is(.title_name_vlgy, .title_name_user) {
  width: 100%;
}

.txt_name_vlgy {
  font-size: 16px;
  line-height: 20px;
  color: #00b14f !important;
  font-family: "Roboto-Medium";
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.txt_name_user {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

:is(.box_date_monney, .box_add_mess) {
  display: flex;
  gap: 12px;
  width: 100%;
  align-items: center;
}

:is(.box_add_vlgy, .box_mess_vlgy, .box_date_vlgy, .box_monney_vlgy) {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 50%;
}

.txt_chung_vlgy {
  width: calc(100% - 21px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #8b8b8b;
}

.txt_monney_vlgy {
  color: #c80ff7;
}

.box_image_nngu input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  right: 8px;
  display: none;
}

.input_show_nngu {
  border: 1px solid #00b14f;
  /* -webkit-appearance: none; */
}

.input_show_nngu:checked {
  border-color: #00b14f !important;
  background-color: #00b14f;
}

.input_show_nngu:checked::before {
  content: "";
  display: block;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 5px;
  margin-top: 2px;
}

.box_show_nngu {
  display: flex;
}

.box_image_nngu {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  align-items: center;
  width: 80px;
}

.container_show_ngonngu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
}

.content_show_ngonngu {
  padding-top: 15px;
}

.box_input_range {
  display: none;
}

.input_range:hover {
  opacity: 1;
}

.input_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 99em;
  background: #00b14f;
  border: 3px solid #ffffff;
  cursor: pointer;
}

.input_range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.box_range_zoom {
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: column;
  background: #242d33;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  width: 41px;
  height: 111px;
  display: flex;
  padding: 8px 0px;
}

.txt_input_range {
  font-family: "Roboto-Medium";
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.container_sidebar_rigth:hover .box_range_zoom {
  height: 255px;
  transition: 0.5s ease;
}

.box_input_range {
  height: 0px;
  width: 25px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.container_sidebar_rigth:hover .box_input_range {
  height: 134px;
  transition: 0.5s ease;
  display: block;
  text-align: center;
}

.container_sidebar_rigth:hover .input_range {
  display: block;
}

.input_range {
  /* -webkit-appearance: none; */
  height: 5px;
  background: #bdc3c7;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  transform: rotate(-90deg);
  left: -53px;
  top: 66px;
  position: absolute;
  display: block;
}

.box_content_taocv {
  height: 100%;
  /* padding: 25px 0px; */
  /* overflow: auto; */
}

.page_cv {
  width: 790px;
  height: auto;
}

.page_cv p {
  color: #000000;
}

.cv_title {
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  padding: 8px 0;
  border: 1px dashed #c2d7ff;
  outline: unset;
  text-align: center;
  font-size: 20px;
}

.btn {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  padding: 0;
}

.btn:hover {
  background: white;
}

.btn_change_bg {
  width: 145px;
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background: rgba(76, 91, 212, 0.1);
  border-radius: 4px;
  border: none;
}

.btn_change_bg .txt_change_bg {
  font-size: 16px;
  line-height: 16px;
  color: #00b14f !important;
  font-family: "Roboto-Medium";
}

.btn_change_bg .highlight {
  color: #ffffff;
  font-size: inherit;
  line-height: inherit;
  background: #00b14f;
  border-radius: 15px;
  padding: 4px 8px;
}

.box_ft_down {
  display: flex;
  gap: 10px;
  align-items: center;
}

.box_footer_taocv {
  background: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 9px 51px 9px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.box_ft_namecv {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn_show_tencv {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.txt_tenmaucv {
  font-size: 16px;
  line-height: 16px;
  color: #474747;
  font-family: "Roboto-Medium";
}

.txt_show_tencv {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #474747;
}

#page-taocv .editor-control {
  border: 0;
  outline: 1px solid #dcdcdc;
}

#page-taocv .ctn_cv_new {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_btn {
  height: 76px;
  flex-direction: column;
  gap: 6px;
  padding: 0 10px;
  border-left: 1px solid #eee;
  margin-right: 0px;
}

#indam_khcach {
  background: none !important;
}

#toolbar-color {
  position: relative;
}

#toolbar-color .pos_clr {
  background: #ffffff;
  border-radius: 8px;
}

#page-taocv #toolbar-font {
  display: flex;
  flex-direction: column;
}

.html2canvas-container {
  width: 3000px !important;
  height: 3000px !important;
}

#page-taocv #indam_khcach {
  padding: 0px;
}

#page-taocv .editor-control.actived {
  background: #92c8f9;
}

.overlay.cv_mau_new {
  background: unset;
}

#cv_mau_new .tle_cls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 15px 15px;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#cv_mau_new .tle_cls p {
  font-size: 16px;
  line-height: 19px;
  color: #474747;
}

#cv_mau_new .tle_cls .close_zoom_cv {
  width: 24px;
  height: 25px;
  cursor: pointer;
}

#page-taocv #cv-title {
  background: #ffffff;
  margin-bottom: 0;
  outline: unset;
}

.box_footer_taocv.mobi_hidden {
  display: none;
}

.txt {
  color: #666;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.zoom_cv .frame_img {
  max-height: calc(100% - 55px);
}

.zoom_cv .frame_img img {
  max-width: 96%;
}

#menu .ctr {
  max-width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1931px) {
  .box_ft_down {
    max-width: 570px;
    width: 100%;
  }
}

@media (max-width: 1401px) {
  .container_taocv_parent {
    margin-top: 60px;
  }

  .box_ft_down {
    max-width: unset;
    width: unset;
  }

  .box_footer_taocv {
    padding: 9px 51px 9px 20px;
  }
}

@media (max-width: 1367px) {
  .container_content_taocv .content_cv {
    display: none;
  }

  .navigation {
    width: 1024px;
  }

  .box_footer_taocv {
    display: none;
  }

  .box_footer_taocv.mobi_hidden {
    display: flex;
    position: absolute;
    bottom: 0;
  }

  .show_sidebar {
    padding-bottom: 62px;
  }

  .box_content_taocv {
    padding-bottom: 62px;
  }
}

@media (max-width: 1025px) {
  #page-taocv .ctn_cv_new {
    height: 92px;
  }

  #page-taocv .ctn_cv_new {
    scrollbar-width: thin;
    overflow-y: hidden;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .box_sidebar {
    height: 320px;
    overflow-y: auto;
  }

  .banner {
    height: 161px;
  }

  .banner .title {
    font-size: 28px;
  }

  .navigation {
    padding: 12px;
    width: 100%;
  }

  #page-taocv .editor-control {
    width: 33px;
    height: 33px;
  }

  .hd_top {
    height: 70px;
  }

  .txt {
    font-size: 16px;
  }

  .container_taocv_parent {
    height: calc(100% - 52px);
    margin-top: 0;
  }

  .m_img20 {
    height: 20px;
    width: 20px;
  }

  .container_taocv {
    transform-origin: top left;
  }

  .container_content_taocv {
    padding-left: 10px;
  }

  .box_content_taocv {
    overflow: unset;
    padding-bottom: 0;
    padding-top: 12px;
  }

  #page-taocv {
    width: 100%;
    height: calc(100% - 70px);
  }

  .container_content_taocv .content_cv {
    display: none;
  }

  .zoom_cv .frame_img .close_zoom_cv {
    right: 0;
    top: -35px;
  }
}

@media (max-width: 961px) {
  #page-taocv .ctn_cv_new {
    overflow-y: hidden;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .container_taocv_parent {
    height: calc(100% - 92px);
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  html,
  body {
    overflow: auto;
  }

  .box_sidebar {
    height: 320px;
    overflow-y: auto;
  }

  #boxRes.lightbox .box-a {
    width: 100%;
    padding: 25px 0px;
  }

  #page-taocv .ctn_cv_new {
    height: 116px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .banner,
  .container .navigation {
    display: none;
  }

  .banner .title {
    font-size: 24px;
  }

  .navigation {
    gap: 12px;
    flex-direction: row;
    align-items: center;
  }

  .select {
    width: 400px;
  }

  .btn_bg {
    display: none !important;
  }

  .box_btn {
    height: 74px;
  }

  .sm_img24 {
    height: 24px;
    width: 24px;
  }

  .container_sidebar_left {
    position: fixed !important;
    height: 70px !important;
    top: 90%;
    z-index: 999;
  }

  .box_footer_taocv {
    padding: 9px 24px 9px 5px;
  }
}

@media screen and (min-width: 741px) and (max-width: 767px) {
  .box_footer_taocv {
    padding: 9px 5px 9px 5px;
  }

  .sidebar_left {
    width: 90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 740px) {
  .box_footer_taocv {
    position: absolute;
    bottom: 0px;
    left: 90px;
    width: calc(100% - 90px);
  }

  #boxRes.lightbox .box-a {
    width: 100%;
    padding: 25px 0px;
  }

  .page_cv {
    height: auto;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /*  .box_footer_taocv {
        padding: 9px 10px 9px 10px;
    } */
  .icon_sidebar_left#rutgon {
    display: none;
  }

  .icon_sidebar_left#rutgon_mobile {
    display: block;
  }

  #rutgon_mobile.rutgon .txtic_sidebar_left {
    display: block;
    transform: unset;
  }

  .container_taocv_parent {
    margin: 0;
  }

  .container_sidebar_left.rutgon {
    left: 0;
    bottom: 0;
    right: unset;
    background: unset;
  }

  .container_sidebar_left.rutgon .sidebar_left {
    width: unset;
    box-shadow: unset;
  }

  .container_sidebar_left {
    flex-direction: column;
  }

  .container_taocv {
    flex-direction: column;
    height: 100%;
  }

  .editor-control {
    min-width: 28px;
  }

  .sidebar_left {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    overflow: auto;
  }

  .show_sidebar {
    width: 85%;
    position: absolute;
    bottom: 100%;
    padding-bottom: 0px;
    background: #ffffff;
    max-height: 50vh;
    z-index: 999;
  }

  .container_content_taocv {
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .icon_sidebar_left {
    height: 46px;
    width: 52px;
  }

  .gap_12 {
    gap: 4px;
  }

  .btn {
    width: fit-content;
    gap: unset;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0px 5px;
  }

  .btn,
  .btn_change_bg p {
    gap: 8px;
    font-size: 16px !important;
    line-height: normal !important;
  }

  .btn_change_bg {
    width: fit-content;
    padding: 0px 5px;
    font-size: 10px !important;
    line-height: 12px !important;
  }

  .img31 {
    width: 18px;
  }

  .txtic_sidebar_left {
    font-size: 8px;
    width: 46px;
    line-height: 10px;
  }

  .box_footer_taocv {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

  .ic_thugon {
    display: none;
  }

  #toolbar-color .pos_clr {
    top: 32px;
  }

  .btn_tenmaucv {
    display: none;
  }

  .txt_show_tencv {
    font-size: 12px;
    line-height: 16px;
  }

  .btn_show_tencv {
    height: 26px;
  }

  .ic_414 {
    display: block !important;
    position: absolute;
    right: 5px;
    cursor: pointer;
  }

  .zoom_cv .frame_img .close_zoom_cv {
    right: 0;
    top: -35px;
  }

  #page-taocv .ctn_cv_new {
    height: 116px;
  }
}

@media (max-width: 480px) {

  html,
  body {
    height: 100%;
    overflow: auto;
  }

  #page-cv {
    padding-bottom: 100px;
  }

  .box_sidebar {
    height: 320px;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
  }

  #boxRes.lightbox .box-a {
    width: 100%;
    padding: 25px 0px;
  }

  .container_sidebar_rigth {
    display: none;
  }

  #page-taocv {
    height: auto;
    width: 100%;
    overflow: hidden;
  }

  .box_range_zoom {
    display: block;
    text-align: center;
  }

  .btn,
  .btn_change_bg p {
    gap: 8px;
    font-size: 16px !important;
    line-height: normal !important;
  }

  .container_taocv {
    overflow: unset;
  }

  .box_content_taocv {
    overflow: unset;
    position: relative;
    padding: 10px 0 0;
    min-height: 2666px;
  }

  .page_cv {
    /* height: auto; */
    width: 100%;
    /* transform: scale(0.75); */
    zoom: unset;
    width: 100%;
  }

  .container_sidebar_rigth:hover .box_input_range {
    width: 100%;
  }

  .input_range {
    left: -45px;
  }

  #toolbar-color .pos_clr {
    top: 27px;
  }

  .container_sidebar_rigth {
    bottom: 38px;
  }

  .banner,
  .container .navigation {
    display: none;
  }

  #page-taocv .ctn_cv_new {
    align-items: flex-start;
    height: 96px;
  }
}