.cv_page {
  padding: 0;
  background: url(main3.png) no-repeat;
  background-size: 100% 100%;
}

#cv-top {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(cvtop3.png) no-repeat;
  background-size: 100% 100%;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  font-weight: unset;
  font-size: 22px;
  color: #4B1B00;
  text-align: left;
  float: left;
}

#form-cv .icf1 {
  background: url(iconsex.svg) no-repeat;
  background-position: center;
  background-color: #4B1B00;
}

#form-cv .icf2 {
  background: url(iconbirthday.svg) no-repeat;
  background-position: center;
  background-color: #4B1B00;
}

#form-cv .icf3 {
  background: url(icontelephone.svg) no-repeat;
  background-position: center;
  background-color: #4B1B00;
}

#form-cv .icf4 {
  background: url(icongmail.svg) no-repeat;
  background-position: center;
  background-position-y: 3px;
  background-color: #4B1B00;
}

#form-cv .icf5 {
  background: url(iconaddress.svg) no-repeat;
  background-position: center;
  background-color: #4B1B00;
}

div#box02 {
  background: #DED1C2;
  margin-bottom: 18px !important;
  width: 126% !important;
  left: -53px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#box02 .box-content {
  padding-left: 54px;
  padding-right: 20px;
  color: #4B1B00 !important;
}

.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  float: left;
  color: #4B1B00;
  background-color: #DED1C2;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 2px #4B1B00;
}

.cum {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  float: left;
  color: #4B1B00;
  background-color: #DED1C2;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 2px #4B1B00;
}

#cv-content .head {
  padding: 0;
  margin: 0 auto;
  float: left;
  width: 100%;
  padding-right: 20px;
  background-color: #DED1C2;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 2px #4B1B00;
}

#cv-content {
  border-left: 2px solid #4B1B00;
}

#cvo-experience-blocktitle {
  color: #4B1B00;
  text-align: left;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  font-size: 22px;
  padding: 3px 15px;
}