.cv_page {
    padding: 0;
    background-image: url(bgr3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #cvo-info #box02 {
    float: right;
    width: 50%;
    border-left: solid 15px #75bdf2;
  }
//75bdf2