.cv_page {
  padding: 0;
  background-image: url(bgr2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#box01 #cv-boxtitle {
  border-bottom: solid 1px #bfd7d7;
  width: 65%;
}

#box02 #cv-boxtitle {
  border-bottom: solid 1px #bfd7d7;
  width: 80%;
}
#form-cv .icf1 {
  float: left;
  margin-bottom: 0;
  width: 20px;
  height: 20px;
  text-align: left;
  background: url(iconsex2.svg) no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

#form-cv .icf2 {
  float: left;
  margin-bottom: 0;
  width: 20px;
  height: 20px;
  text-align: left;
  background: url(iconbirthday2.svg) no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

#form-cv .icf3 {
  float: left;
  margin-bottom: 0;
  width: 20px;
  height: 20px;
  text-align: left;
  background: url(icontelephone2.svg) no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

#form-cv .icf4 {
  float: left;
  margin-bottom: 0;
  width: 20px;
  height: 20px;
  text-align: left;
  background: url(icongmail2.svg) no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

#form-cv .icf5 {
  float: left;
  margin-bottom: 0;
  width: 20px;
  height: 20px;
  text-align: left;
  background: url(iconaddress2.svg) no-repeat;
  background-position: left;
  background-size: 100% 100%;
}
#cv-content .head::before{
  content: "";
  background: url(iconcontent2.svg) no-repeat;
  width: 36px;
  height: 16px;
  display: block;
  position: absolute;
  top: 4px;
  left: -2px;
}
//bfd7d7