<footer class="bg-white">
    <div class="footer-top container">
        <div class="list-keyword d-flex flex-wr">
            <a href="" target="_blank">CV là gì,</a>
            <a href="" target="_blank">CV xin việc,</a>
            <a href="" target="_blank">Mẫu CV tiếng Việt,</a>
            <a href="" target="_blank">Mẫu CV tiếng Anh,</a>
            <a href="" target="_blank">Mẫu CV tiếng Hàn,</a>
            <a href="" target="_blank">Mẫu CV tiếng Nhật,</a>
            <a href="" target="_blank">Mẫu thư xin việc,</a>
            <a href="" target="_blank">CV là gì,</a>
            <a href="" target="_blank">CV xin việc,</a>
            <a href="" target="_blank">Mẫu CV tiếng Việt,</a>
            <a href="" target="_blank">Mẫu CV tiếng Anh,</a>
            <a href="" target="_blank">Mẫu CV tiếng Hàn,</a>
            <a href="" target="_blank">Mẫu CV tiếng Nhật,</a>
            <a href="" target="_blank">Mẫu thư xin việc,</a>
            <a href="" target="_blank">CV là gì,</a>
            <a href="" target="_blank">CV xin việc,</a>
            <a href="" target="_blank">Mẫu CV tiếng Việt,</a>
            <a href="" target="_blank">Mẫu CV tiếng Anh,</a>
            <a href="" target="_blank">Mẫu CV tiếng Hàn,</a>
            <a href="" target="_blank">Mẫu CV tiếng Nhật,</a>
            <a href="" target="_blank">Mẫu thư xin việc,</a>
            <a href="" target="_blank">CV là gì,</a>
            <a href="" target="_blank">CV xin việc,</a>
            <a href="" target="_blank">Mẫu CV tiếng Việt,</a>
            <a href="" target="_blank">Mẫu CV tiếng Anh,</a>
            <a href="" target="_blank">Mẫu CV tiếng Hàn,</a>
            <a href="" target="_blank">Mẫu CV tiếng Nhật,</a>
            <a href="" target="_blank">Mẫu thư xin việc,</a>
        </div>
    </div>
    <div class="footer-main color-white">
        <div class="container pb-4">
            <div class="footer-content pb-4">
                <div class="content-top d-flex justify-b mb-4">
                    <div class="footer-item">
                        <div class="content-title d-flex justify-b align-c active">
                            Về TopCv1s
                            <img loading="lazy" class="collase_foot" alt="showmore" width="18" height="18"
                                src="/images/icon/showfoot.svg">
                        </div>
                        <ul class="content-list show">
                            <li>
                                <a href="" target="_blank">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Thông tin</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Hỏi đáp</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Cẩm nang</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Thỏa thuận</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Bảo mật</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Giải quyết tranh chấp</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Sơ đồ Website</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <div class="content-item">
                            <div class="content-title d-flex justify-b align-c">
                                Dành cho ứng viên
                                <img loading="lazy" class="collase_foot" alt="showmore" width="18" height="18"
                                    src="/images/icon/showfoot.svg">

                            </div>
                            <ul class="content-list">
                                <li>
                                    <a href="/cv-xin-viec" target="_blank">Mẫu CV xin việc</a>
                                </li>
                                <li>
                                    <a href="" target="_blank">Thư xin việc</a>
                                </li>
                                <li>
                                    <a href="/blog-bi-quyet-viet-cv" target="_blank">Bí quyết viết CV</a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-item">
                            <div class="content-title d-flex justify-b align-c">
                                Việc làm theo khu vực
                                <img loading="lazy" class="collase_foot" alt="showmore" width="18" height="18"
                                    src="/images/icon/showfoot.svg">
                            </div>
                            <ul class="content-list">
                                <li>
                                    <a href="/tim-viec-lam-tai-ha-noi" target="_blank">Việc làm tại Hà Nội</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-tai-ho-chi-minh" target="_blank">Việc làm tại Hồ Chí Minh</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-tai-hai-phong" target="_blank">Việc làm tại Hải Phòng</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-tai-da-nang" target="_blank">Việc làm tại Đà Nẵng</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-tai-can-tho" target="_blank">Việc làm tại Cần Thơ</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-tai-binh-duong" target="_blank">Việc làm tại Bình Dương</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-tai-dong-nai" target="_blank">Việc làm tại Đồng Nai</a>
                                </li>
                                <li>
                                    <a class="fst-italic" href="/tim-viec-lam" target="_blank">Xem tất cả <img loading="lazy"
                                            alt="showall" width="9.47" height="7.89"
                                            src="/images/icon/morefoot.svg"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="content-item">
                            <div class="content-title d-flex justify-b align-c">
                                Dành cho nhà tuyển dụng
                                <img loading="lazy" class="collase_foot" alt="showmore" width="18" height="18"
                                    src="/images/icon/showfoot.svg">
                            </div>
                            <ul class="content-list">
                                <li>
                                    <a href="/ntd/dang-tin-tuyen-dung" target="_blank">Đăng tuyển dụng</a>
                                </li>
                                <li>
                                    <a href="" target="_blank">Cẩm nang tuyển dụng</a>
                                </li>
                                <li>
                                    <a href="/tim-ung-vien" target="_blank">Tìm hồ sơ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-item">
                            <div class="content-title d-flex justify-b align-c">
                                Việc làm theo ngành nghề
                                <img loading="lazy" class="collase_foot" alt="showmore" width="18" height="18"
                                    src="/images/icon/showfoot.svg">
                            </div>
                            <ul class="content-list">
                                <li>
                                    <a href="/tim-viec-lam-kinh-doanh" target="_blank">Việc làm kinh doanh</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-bat-dong-san" target="_blank">Việc làm bất động sản</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-bao-hiem" target="_blank">Việc làm bảo hiểm</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-it" target="_blank">Việc làm IT</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-nhan-su" target="_blank">Việc làm nhân sự</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-ban-hang" target="_blank">Việc làm bán hàng</a>
                                </li>
                                <li>
                                    <a href="/tim-viec-lam-luong-cao" target="_blank">Việc làm lương cao</a>
                                </li>
                                <li>
                                    <a class="fst-italic" href="/tim-viec-lam" target="_blank">Xem tất cả <img loading="lazy"
                                            alt="showall" width="9.47" height="7.89"
                                            src="/images/icon/morefoot.svg"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="content-title d-flex justify-b align-c">
                            Việc làm theo tag
                            <img loading="lazy" class="collase_foot" alt="showmore" width="18" height="18"
                                src="/images/icon/showfoot.svg">
                        </div>
                        <ul class="content-list">
                            <li>
                                <a href="/tim-viec-lam-lap-trinh-vien-php-lam-viec-online" target="_blank">Việc làm PHP</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-ke-toan-noi-bo" target="_blank">Việc làm kế toán nội bộ</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-marketing-director" target="_blank">Việc làm Marketing Director</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-chuyen-vien-nhan-su" target="_blank">Việc làm chuyên viên nhân sự</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-bat-dong-san" target="_blank">Việc làm bất động sản</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-thuc-tap-sinh" target="_blank">Việc làm thực tập sinh</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-nhan-vien-ban-bao-hiem" target="_blank">Việc làm nhân viên bảo hiểm</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-thuc-tap-sinh-content" target="_blank">Việc làm content</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-thiet-ke" target="_blank">Việc làm thiết kế</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-nhan-vien-kinh-doanh" target="_blank">Việc làm kinh doanh</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-lap-trinh-vien-java-web" target="_blank">Việc làm lập trình viên java</a>
                            </li>
                            <li>
                                <a href="/tim-viec-lam-the-duc-the-thao" target="_blank">Việc làm thể dục thể thao</a>
                            </li>
                            <li>
                                <a class="fst-italic" href="/tim-viec-lam" target="_blank">Xem tất cả <img loading="lazy"
                                        alt="showall" width="9.47" height="7.89" src="/images/icon/morefoot.svg"></a>
                            </li>

                        </ul>
                    </div>
                    <div class="footer-item">
                        <div class="content-title d-flex justify-b align-c">
                            Công cụ
                            <img loading="lazy" class="collase_foot" alt="showmore" width="18" height="18"
                                src="/images/icon/showfoot.svg">
                        </div>
                        <ul class="content-list">
                            <li>
                                <a href="" target="_blank">Tra cứu lương</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Trang vàng</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Việc làm theo giờ</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Việc làm Freelancer</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Gia sư</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Khóa học</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Nhà trọ</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Chấm công</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Quản lý nhà hàng cafe</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Máy in hóa đơn</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Máy quét mã vạch</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Giúp việc</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Máy chấm công</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-bot d-flex justify-b align-c">
                    <div class="logo-left d-flex justify-c">
                        <img loading="lazy" width="332.14" height="142" alt="Logo Page" src="/images/logo/biglogo.svg">
                    </div>
                    <div class="logo-right d-flex gap-3 justify-c">
                        <!-- <a href="">
                            <img loading="lazy" alt="BCT" width="132" height="49" src="/images/logo/bct.svg">
                        </a> -->
                        <!-- <a href="/">
                            <img loading="lazy" alt="Dmca" width="137.06" height="43.37" src="/images/logo/dmca.svg">
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="footer-contact d-flex justify-b pt-4">
                <div class="contact-info">
                    <div class="contact-title fs-5 fw-500 mb-2">
                        Công ty TNHH MTV Nguồn lực Việt
                    </div>
                    <div class="contact-loca d-flex align-c fs-6 mb-2">
                        <img loading="lazy" class="mr-10px" width="20" alt="iconMail" height="20"
                            src="/images/icon/emailfoot.svg">
                        <div>
                            Email: Topcv1s@gmail.com
                        </div>
                    </div>
                    <div class="contact-loca d-flex align-c fs-6 mb-2">
                        <img loading="lazy" class="mr-10px" width="20" alt="iconHotline" height="20"
                            src="/images/icon/phonefoot.svg">
                        <div>
                            Hotline: 0971.335.869 | 024 36.36.66.99
                        </div>
                    </div>
                    <div class="contact-loca d-flex align-c fs-6 mb-2">
                        <img loading="lazy" class="mr-10px" width="20" height="20" alt="icon Location"
                            src="/images/icon/locafoot.svg">
                        <div>
                            Địa chỉ: Số 1, Đại Cồ Việt, Hai Bà Trưng, Hà Nội
                        </div>
                    </div>
                </div>
                <div class="contact-social text-c">
                    <div class="social-des fs-7 mb-2">
                        Kết nối với Topcv1s.com
                    </div>
                    <div class="social-icon d-flex align-c gap-1 justify-c">
                        <img loading="lazy" width="35" height="35" alt="Icon Facebook"
                            src="/images/icon/facebookfoot.svg">
                        <img loading="lazy" width="35" height="35" alt="Icon Twitter"
                            src="/images/icon/twitterfoot.svg">
                        <img loading="lazy" width="35" height="35" alt="Icon Youtube"
                            src="/images/icon/youtubefoot.svg">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- <div class="footer-bot text-c bg-white p-12px fs-13px color-default">
        Mã số thuế: 0109218540 do Sở kế hoạch và đầu tư thành phố Hà Nội cấp ngày 10/06/2020. All Rights Reserved.
    </div> -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const titles = document.querySelectorAll('.content-title');
            titles.forEach(title => {
                title.addEventListener('click', function () {
                    const contentList = this.nextElementSibling;
                    contentList.classList.toggle('show');
                    this.classList.toggle('active');
                });
            });
        });
    </script>
</footer>