<div class="uhead d-flex align-c justify-b bg-white">
    <div class="uhead-lef d-flex align-c gap-2">
        <span class="fw-600">Cho phép nhà tuyển dụng tìm kiếm </span>
        <div class="active-find-pc">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="uhead-rig d-flex align-c fw-600 justify-b">
        <div class="uhead-rig-item">
            <a href="/cv-xin-viec">CV xin việc</a>
        </div>
        <div class="uhead-rig-item">
            <a href="/">Tìm việc làm</a>
        </div>
        <div class="uhead-rig-not">
            <img width="26.25" height="30.62" alt="Notify Icon" src="/images/icon/notify_icon.svg">
        </div>
        <div class="uhead-rig-logm">
            <a href="/"><img src="/images/img/logomobile.svg" width="100" height="40" alt="Logo Mobile"></a>
        </div>
        <div class="uhead-rig-togm">
            <img src="/images/icon/eva_menu-outline.svg" width="40" height="40" alt="Nav Btn Mobile">
        </div>
        <button class="uhead-rig-logout bg-main color-white d-flex align-c gap-3 fw-700">
            <img width="27.71" height="26.25" alt="Logout Icon" src="/images/icon/logout-icon.svg">
            Đăng xuất
        </button>
    </div>
</div>
<div id="mobileMenu" class="menu-mb" style="display: none;">
    <div class="menu-mb-head d-flex align-c justify-b bg-main">
        <div class="menu-mb-close">
            <img width="30" height="30" src="/images/icon/closemenumb.svg" alt="Close Icon">
        </div>
        <a href="/"><img width="100" height="40" src="/images/img/logomobile2.svg" alt="Logo Menu Mobile"></a>
        <div class="/images/icon/notimenumb.svg.svg">
            <img src="/images/icon/notimenumb.svg" width="50" height="50" alt="Notify Icon">
        </div>
    </div>
    <div class="menu-mb-body d-flex flex-dr-c">
        <div class="menu-mb-comp d-flex align-c bg-white">
            <img class="menu-mb-complog rounded-circle outline_main" onerror="this.onerror=null;this.src='/images/img/default_logo.jpg';" width="80" height="80"
                alt="Comp Logo">
            <div class="menu-mb-compinf fw-700">
                <a class="menu-mb-compna mb-2 fs-5" href=""></a>
                <div class="menu-mb-comppo d-flex align-c gap-2">
                    <span class="fw-500">Cho phép nhà tuyển dụng tìm kiếm </span>
                    <div class="active-find-mb">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-mb-item">
            <a class="menu-mb-des bg-white" href="/uv/quan-ly-ung-vien">
                <img src="/images/icon/icon_mb_all.svg" width="25" height="22">
                Quản lý chung
            </a>
        </div>
        <div class="menu-mb-item">
            <a class="menu-mb-des bg-white" href="/uv/quan-ly-viec-ung-tuyen">
                <img src="/images/icon/icon_mb_job.svg" width="24" height="24">
                Việc làm đã ứng tuyển
            </a>
        </div>
        <div class="menu-mb-item">
            <a class="menu-mb-des bg-white" href="/uv/quan-ly-viec-da-luu">
                <img src="/images/icon/save_job_icon.svg" width="25" height="31">
                Việc làm đã lưu
            </a>
        </div>
        <div class="menu-mb-item">
            <a class="menu-mb-des bg-white" href="/uv/quan-ly-cv-xin-viec">
                <img src="/images/icon/icon_cv.svg" width="25" height="31">
                CV xin việc
            </a>
        </div>
        <div class="menu-mb-item">
            <a class="menu-mb-des bg-white" href="/uv/quan-ly-ho-so-xin-viec">
                <img src="/images/icon/profile_icon.svg" width="25" height="31">
                Hồ sơ xin việc
            </a>
        </div>
        <div class="d-flex justify-c">
            <button class="menu-mb-logout bg-main color-white d-flex align-c gap-3">
                <img width="27.71" height="26.25" alt="Logout Icon" src="/images/icon/logout-icon.svg">
                Đăng xuất
            </button>
        </div>
    </div>
</div>
<script src="/js/header_uv.js"></script>