<div class="search">
    <div class="search-box container">
        <div class="search-til color-white">
            <h1 class="search-til-top">
                <span>
                    Tìm việc làm nhanh
                </span>
                <span class="search-til-bot fw-700">
                    và tuyển dụng tốt nhất cùng TopCv1s
                </span>
            </h1>
        </div>
        <div class="search-form d-flex flex-wr">
            <div class="search-name d-flex align-c gap-2 bg-white">
                <span>
                    <img width="24" height="24" alt="Search Icon" src="/images/icon/searchicon.svg">
                </span>
                <input class="fw-6 search_input" id="s_key" type="text" placeholder="Tên việc làm / Tên công ty" autocomplete="off">
                <div class="search-remind">
                    <div class="remind-cnt">
                        <div class="remind-his">
                            <div class="remind-his-tit">
                                Tìm kiếm gần đây
                            </div>
                            <ul class="remind-his-box">

                            </ul>
                        </div>
                        <div class="remind-lis">
                            <div class="remind-lis-tit">
                                Từ khóa phổ biến 
                            </div>
                            <ul class="remind-lis-box">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-loc d-flex align-c gap-2 bg-white">
                <span>
                    <img width="24" height="24" alt="Search Location" src="/images/icon/search_location.svg">
                </span>
                <select id="s_loc">
                    <option value="0">Tất cả địa điểm</option>
                    <% if (listCities && listCities.length > 0) { %>
                        <% listCities.forEach(function(item) { %>
                            <option value="<%= item.cit_id %>"><%= item.cit_name %></option>
                        <% }); %>
                    <% } %>
                </select>
            </div>
            <button class="search-btn fw-700 color-white">
                Tìm kiếm
            </button>
        </div>
        <div class="search-kw color-white d-flex align-c">
            <div class="kw-trend">
                Từ khóa phổ biến:
            </div>
            <div class="kw-list d-flex gap-3">
                <div class="kw-item">
                    <a href="/tim-viec-lam-kinh-doanh-ban-hang">Kinh doanh - Bán hàng</a>
                </div>
                <div class="kw-item">
                    <a href="/tim-viec-lam-it-phan-mem">IT phần mềm</a>
                </div>
                <div class="kw-item">
                    <a href="/tim-viec-lam-ban-hang">Bán hàng</a>
                </div>
                <div class="kw-item">
                    <a href="/tim-viec-lam-bat-dong-san">Bất động sản</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/search_job.js" defer></script>
<!-- <script src="/js/search_job-min.js"></script> -->