<img src="/images/img/backgroundlogin.webp" loading="eager" style="display:none;" id="preloadImage">
<div class="search" style="background-image: url('/images/img/backgroundlogin.webp');">
    <div class="search-box container">
        <div class="search-til color-white">
            <h1 class="search-til-top">
                <span>
                    Săn Tìm Ứng Viên Miễn Phí 
                </span>
                <br>
                <span class="fw-600">
                    Giải Pháp Tuyển Dụng Hiệu Quả
                </span>
            </h1>
            <!-- <p class="search-til-bot fw-700">3 giây để tạo CV</p> -->
        </div>
        <div class="search-form d-flex flex-wr">
            <div class="search-name d-flex align-c gap-2 bg-white">
                <span>
                    <img width="24" height="24" alt="Search Icon" src="/images/icon/searchicon.svg">
                </span>
                <input class="fw-6" id="s_key" type="text" placeholder="Tên công việc" value="<%=name ||''%>">
                <input type="text" style="display: none;" id="city_input" value="<%=city%>">
            </div>
            <div class="search-loc d-flex align-c gap-2 bg-white">
                <span>
                    <img width="24" height="24" alt="Search Location" src="/images/icon/search_location.svg">
                </span>
                <label for="s_loc" class="visually-hidden">Chọn thành phố:</label>
                <select id="s_loc">
                    <option value=""></option>
                    <% if (listCities && listCities.length > 0) { %>
                        <% listCities.forEach(function(item) { %>
                            <option value="<%= item.cit_id %>"><%= item.cit_name %></option>
                        <% }); %>
                    <% } %>
                </select>
            </div>
            <button class="search-btn fw-700 color-white">
                Tìm kiếm
            </button>
        </div>
        <!-- <div class="search-kw color-white d-flex align-c">
            <div class="kw-trend">
                Từ khóa phổ biến:
            </div>
            <div class="kw-list d-flex gap-3">
                <div class="kw-item">
                    <a href="/tim-viec-lam-kinh-doanh-ban-hang">Kinh doanh - Bán hàng</a>
                </div>
                <div class="kw-item">
                    <a href="/tim-viec-lam-it-phan-mem">IT phần mềm</a>
                </div>
                <div class="kw-item">
                    <a href="/tim-viec-lam-ban-hang">Bán hàng</a>
                </div>
                <div class="kw-item">
                    <a href="/tim-viec-lam-bat-dong-san">Bất động sản</a>
                </div>
            </div>
        </div> -->
    </div>
</div>
<script src="/js/search_job.js"></script>