<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="/css/changepass.css" as="style" >
    <link rel="stylesheet" href="/css/common.css" as="style" >
    <link rel="stylesheet" href="/css/leftnav_ntd.css" as="style" >
    <link rel="stylesheet" href="/css/header_ntd.css" as="style" >
    <link rel="stylesheet" href="/css/footer.css" as="style" >
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <div class="cnt">
        <div class="cnt-left" id="leftNav">
           <%- include('../layouts/leftnav_ntd', {}); %>
        </div>
        <div class="cnt-right" id="rightContent">
            <%- include('../layouts/header_ntd', {}); %>
            <div class="cnt-det">
                <div class="cnt-top d-flex justify-b">
                    <div class="cnt-info bg-white d-flex align-c">
                        <div class="cnt-avar rounded-circle">
                            <img class="rounded-circle" src="/images/img/cskh_image.jpg" width="114" height="114" alt="Logo CSKH">
                        </div>
                        <div class="cnt-gen fw-600">
                            <div class="cnt-gen-name mb-20px">
                                Chuyên viên hỗ trợ: <span class="color-main">Mrs. Nguyễn Hồng</span>
                            </div>
                            <div class="cnt-gen-phone mb-20px">
                                SĐT - Zalo: <span class="color-main">0972319116</span>
                            </div>
                            <div class="cnt-gen-mail">
                                Email: <span class="color-alert">nguyenhongg2609@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="cnt-ban d-flex align-c">
                        <div class="cnt-ban-tit fw-700 color-white text-c">
                            Tuyển dụng nhanh, tuyển dụng hiệu quả, đăng tin miễn phí
                        </div>
                        <div class="cnt-ban-logo">
                            <img src="/images/logo/biglogo.svg" width="250" height="107" alt="Logo Image">
                        </div>
                    </div>
                </div>
                <div class="cnt-mag">
                    <div class="cnt-mag-title fs-4 fw-700 color-main mb-3">
                        ĐỔI MẬT KHẨU
                    </div>
                    <form id="change_pass">
                        <div class="d-flex justify-c">
                            <div class="cnt-chp bg-white d-flex flex-dr-c">
                                <div class="cnt-chp-item">
                                    <label class="fw-600" for="cur_pass">
                                        Mật khẩu hiện tại <span class="color-alert">*</span>
                                    </label>
                                    <div class="cnt-chp-inp d-flex align-c">
                                        <input class="fs-7" type="password" name="cur_pass" id="cur_pass" placeholder="Nhập mật khẩu hiện tại">
                                        <div class="show_pass">
                                            <img width="20" height="20" alt="Show Pass Icon" src="/images/icon/eye_close.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="cnt-chp-item">
                                    <label class="fw-600" for="new_pass">
                                        Mật khẩu mới <span class="color-alert">*</span>
                                    </label>
                                    <div class="cnt-chp-inp d-flex align-c">
                                        <input class="fs-7" type="password" name="new_pass" id="new_pass" placeholder="Nhập mật khẩu mới">
                                        <div class="show_pass">
                                            <img width="20" height="20" alt="Show Pass Icon" src="/images/icon/eye_close.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="cnt-chp-item">
                                    <label class="fw-600" for="renew_pass">
                                        Nhập lại mật khẩu mới <span class="color-alert">*</span>
                                    </label>
                                    <div class="cnt-chp-inp d-flex align-c">
                                        <input class="fs-7" type="password" name="renew_pass" id="renew_pass" placeholder="Nhập lại mật khẩu mới">
                                        <div class="show_pass">
                                            <img width="20" height="20" alt="Show Pass Icon" src="/images/icon/eye_close.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="cnt-chp-act d-flex gap-4 justify-c">
                                    <button type="submit" class="cnt-chp-acp">
                                        Đổi mật khẩu
                                    </button>
                                    <a class="cnt-chp-cacl" href="/ntd/quan-ly-nha-tuyen-dung">Hủy</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.validate.min.js"></script>
    <%- include('../layouts/footer', {}); %>
    <script>
        $(document).ready(function() {
            $(window).scroll(function() {
                var $leftNav = $('.lnav');
                var $rightContent = $('#rightContent');
                var rightContentHeight = $rightContent.outerHeight(true);
                var rightContentOffsetTop = $rightContent.offset().top;
                var rightContentBottom = rightContentOffsetTop + rightContentHeight;
                var scrollTop = $(window).scrollTop();
                var windowHeight = $(window).height();
                var leftNavHeight = $leftNav.outerHeight(true);
                if (scrollTop + leftNavHeight > rightContentBottom) {
                    $leftNav.css({
                        position: 'absolute',
                        top: (rightContentHeight - leftNavHeight) + 'px'
                    });
                } else {
                    $leftNav.css({
                        position: 'fixed',
                        top: '0'
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.nhead-rig-togm').click(function() {
                $('#mobileMenu').slideDown(300);
            });
            $('.menu-mb-close').click(function() {
                $('#mobileMenu').slideUp(300);
            });
        });
        $(document).ready(function() {
            $(".tog-mb").click(function() {
                $(this).next(".menu-mb-clist").slideToggle();
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $.validator.addMethod("pwcheck", function (value) {
                return /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/.test(value);
            });
            $("#change_pass").validate({
                rules: {
                    cur_pass:{
                        required:true
                    },
                    new_pass: {
                        required: true,
                        minlength: 6,
                        pwcheck:true
                    },
                    renew_pass: {
                        required: true,
                        equalTo: "#new_pass"
                    },
                },
                messages: {
                    cur_pass: {
                        required: "Vui lòng nhập mật khẩu hiện tại.",
                    },
                    new_pass: {
                        required: "Vui lòng tạo một mật khẩu mới.",
                        minlength: "Mật khẩu phải có tối thiểu 6 kí tự.",
                        pwcheck: "Mật khẩu phải bao gồm ít nhất 1 chữ và 1 số."
                    },
                    renew_pass: {
                        required: "Vui lòng nhập lại mật khẩu.",
                        equalTo: "Mật khẩu nhập lại không chính xác."
                    },
                },
                errorPlacement: function(error, element) {
                    var err_plc = element.closest('.cnt-chp-inp')
                    error.insertAfter(err_plc);
                },
                submitHandler: function (form) {
                    event.preventDefault();
                    let data = {
                        passwordOld: $("#cur_pass").val(),
                        password: $("#new_pass").val(),
                        rePassword: $("#renew_pass").val(),
                        type: 2,
                    }
                    $.ajax({
                        url: 'http://localhost:3050/api/topcv1s/user/UpdatePasswordEmployers',
                        type: 'POST',
                        headers: {
                            "Authorization": "Bearer " + getCookie('accessToken')
                        },
                        data: data,
                        success: function(response) {
                            alert(response.data.message);
                            window.location.href= "/ntd/quan-ly-nha-tuyen-dung";
                        },
                        error: function(error) {
                            if(error.responseJSON.error.message){
                                alert(error.responseJSON.error.message);
                            }
                            else{
                                alert('Đổi mật khẩu thất bại, vui lòng thử lại');
                            }
                        }
                    });
                }
            })
        });
    </script>
    <script>
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        
        function updatePasswordEmployers(){
            let data = {
                passwordOld: $("#cur_pass").val(),
                password: $("#new_pass").val(),
                rePassword: $("#renew_pass").val(),
                type: 2,
            }
            if(!data.passwordOld) alert("Bạn chưa nhập mật khẩu hiện tại");
            else if(!data.password) alert("Bạn chưa nhập mật khẩu mới");
            else if(!data.rePassword) alert("Bạn chưa nhập lại mật khẩu mới");
            else if(data.password != data.rePassword) alert("Mật khẩu nhập lại không khớp");
            else if(data.passwordOld == data.password) alert("Mật khẩu mới phải khác mật khẩu cũ");
            else {
                $.ajax({
                    url: 'http://localhost:3050/api/topcv1s/user/UpdatePasswordEmployers',
                    type: 'POST',
                    headers: {
                        "Authorization": "Bearer " + getCookie('accessToken')
                    },
                    data: data,
                    success: function(response) {
                        alert(response.data.message);
                        window.location.href= "/ntd/quan-ly-nha-tuyen-dung";
                    },
                    error: function(error) {
                        if(error.responseJSON.error.message){
                            alert(error.responseJSON.error.message);
                        }
                        else{
                            alert('Đổi mật khẩu thất bại, vui lòng thử lại');
                        }
                    }
                });
            }
        }
    </script>
</body>

</html>