<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập Nhật Ứng Viên Chất Lượng - Đăng Nhập Ngay</title>
    <link rel="icon" href="/images/img/default_logo.jpg">
    <link rel="stylesheet" href="/css/ntd/login_ntd.css" as="style" >
    <link rel="stylesheet" href="/css/common.css" as="style" >
    <link rel="stylesheet" href="/css/header.css" as="style" >
    <link rel="stylesheet" href="/css/footer.css" as="style" >
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <%- include('../layouts/header', {}); %>
    <div id="content" class="d-flex justify-c" style="padding-top:80px">
        <div class="login-content d-flex justify-b">
            <div class="left-content flex-dr-c d-flex align-c">
                <img src="/images/img/loginntdimg.svg" width="340" height="303" alt="Banner">
                <h2 class="fs-4 fw-600 color-main mb-0">Đăng nhập tài khoản Nhà Tuyển Dụng để tìm kiếm ứng viên tiềm năng</h2>
            </div>
            <div class="right-content bg-white">
                <h1 class="right-top fs-4 fw-600 text-c">
                    NHÀ TUYỂN DỤNG ĐĂNG NHẬP
                </h1>
                <div class="right-form">
                    <div class="form-item">
                        <div class="phone-input d-flex align-c gap-4">
                            <label for="user_phone">
                                <img src="/images/icon/userlogin.svg" alt="Số điện thoại" width="32" height="32">
                            </label>
                            <input type="text" class="fs-4" id="user_phone" name="user_phone" placeholder="Nhập địa chỉ email">
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="pass-input d-flex align-c gap-4">
                            <label for="user_pass">
                                <img src="/images/icon/passlogin.svg" alt="Mật khẩu" width="32" height="32">
                            </label>
                            <input type="password" class="fs-4" id="user_pass" name="user_pass" placeholder="Nhập mật khẩu">
                            <div class="show_pass">
                                <img width="20" height="20" alt="Show Pass Icon" src="/images/icon/eye_close.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-act justify-c">
                    <button class="btn_login bg-main fw-500 fs-4 color-white">
                        Đăng nhập
                    </button>
                    <img width="30" height="30" alt="Left Button" src="/images/icon/Polygon-8.svg">
                    <img width="30" height="30" alt="Right Button" src="/images/icon/Polygon-9.svg">
                </div>
                <div class="right-ques text-c">
                    <a href="/quen-mat-khau-nha-tuyen-dung" class="ques-forgot fs-6 color-main">Quên mật khẩu?</a>
                    <h3 class="ques-exist fs-6 fw-400">Bạn chưa có tài khoản? <a href="/dang-ky-nha-tuyen-dung">Đăng ký ngay</a></h3>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer', {}); %>
    <script>
        $(document).ready(function() {
            $('#user_phone').on('input', function(e) {
                var currentValue = $(this).val();
                if (currentValue.includes(' ')) {
                    $(this).val(currentValue.replace(/\s/g, ''));
                }
            });
            $('#user_pass').on('input', function(e) {
                var currentValue = $(this).val();
                if (currentValue.includes(' ')) {
                    $(this).val(currentValue.replace(/\s/g, ''));
                }
            });
            $('#user_phone, #user_pass').on('keydown', function(event) {
                if (event.which === 13) {
                    validateAndLogin();
                }
            });
            $('.btn_login').on('click', function() {
                validateAndLogin();
            });
            function setCookie(name, value, hours) {
                const date = new Date();
                date.setTime(date.getTime() + (hours * 60 * 60 * 1000));
                const expires = "expires=" + date.toUTCString();
                document.cookie = name + "=" + encodeURIComponent(value) + ";" + expires + ";path=/";
            }
            function validateAndLogin() {
                var accountValue = $('#user_phone').val().trim();
                var passValue = $('#user_pass').val().trim();
        
                if (accountValue === '') {
                    alert('Vui lòng nhập số điện thoại');
                    return;
                }
                if (passValue === '') {
                    alert('Vui lòng nhập mật khẩu');
                    return;
                }
        
                $.ajax({
                    url: 'http://localhost:3050/api/topcv1s/user/Login',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        userName: accountValue,
                        password: passValue,
                    }),
                    success: function(response) {
                        alert(response.data.message);
                        if(response.data.user.auth == 0){
                            document.cookie = `phoneForOtp=${response.data.user.phone}; max-age=${60 * 24 * 60 * 60}`;
                        }
                        document.cookie= `accessToken=${response.data.token}; max-age=3600; path=/`;
                        document.cookie= `usc_id=${response.data.user.usc_id}; max-age=3600; path=/`;
                        document.cookie= `phone=${response.data.user.phone}; max-age=3600; path=/`;
                        document.cookie= `auth=${response.data.user.auth}; max-age=3600; path=/`;
                        document.cookie= `type=${response.data.user.type}; max-age=3600; path=/`;
                        document.cookie= `logo=${response.data.user.logo}; max-age=3600; path=/`;
                        setCookie("usc_name",response.data.user.usc_name,1);
                        setCookie("usc_company",response.data.user.usc_company,1);
                        document.cookie= `usc_name_add=${response.data.user.usc_name_add}; max-age=3600; path=/`;
                        document.cookie= `usc_name_phone=${response.data.user.usc_name_phone}; max-age=3600; path=/`;
                        document.cookie= `usc_email=${response.data.user.usc_email}; max-age=3600; path=/`;
                        window.location.href= "/";
                    },
                    error: function(error) {
                        if(error.responseJSON.error.message){
                            alert(error.responseJSON.error.message);
                        }
                        else{
                            alert('Đăng nhập thất bại, vui lòng thử lại');
                        }
                        
                    }
                });
            }
        });
    </script>
</body>

</html>