<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách tin tuyển dụng đã đăng</title>
    <link rel="icon" href="/images/img/default_logo.jpg">
    <link rel="stylesheet" href="/css/ntd/manapost_ntd.css" as="style" >
    <link rel="stylesheet" href="/css/common.css" as="style" >
    <link rel="stylesheet" href="/css/leftnav_ntd.css" as="style" >
    <link rel="stylesheet" href="/css/header_ntd.css" as="style" >
    <link rel="stylesheet" href="/css/footer.css" as="style" >
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <div class="cnt">
        <div class="cnt-left" id="leftNav">
           <%- include('../layouts/leftnav_ntd', {}); %>
        </div>
        <div class="cnt-right" id="rightContent">
            <%- include('../layouts/header_ntd', {}); %>
            <div class="cnt-det">
                <div class="cnt-top d-flex justify-b">
                    <div class="cnt-info bg-white d-flex align-c">
                        <div class="cnt-avar rounded-circle">
                            <img class="rounded-circle" src="/images/img/cskh_image.jpg" width="114" height="114" alt="Logo CSKH">
                        </div>
                        <div class="cnt-gen fw-600">
                            <div class="cnt-gen-name mb-20px">
                                Chuyên viên hỗ trợ: <span class="color-main">Mrs. Nguyễn Hồng</span>
                            </div>
                            <div class="cnt-gen-phone mb-20px">
                                SĐT - Zalo: <span class="color-main">0123456789</span>
                            </div>
                            <div class="cnt-gen-mail">
                                Email: <span class="color-alert">nguyenhongg2609@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="cnt-ban d-flex align-c">
                        <div class="cnt-ban-tit fw-700 color-white text-c">
                            Tuyển dụng nhanh, tuyển dụng hiệu quả, đăng tin miễn phí
                        </div>
                        <div class="cnt-ban-logo">
                            <img src="/images/logo/biglogo.svg" width="250" height="107" alt="Logo Image">
                        </div>
                    </div>
                </div>
                <div class="cnt-mag">
                    <div class="cnt-count-job fw-600 fs-4"> </div>
                    <div class="cnt-mag-table">
                        <table>
                            <thead>
                                <tr>
                                    <th width="5%">STT</th>
                                    <th width="20%">Vị trí tuyển dụng</th>
                                    <th width="13%" colspan="2">Thống kê</th>
                                    <th width="10%">Trạng thái</th>
                                    <th width="9%">Hạn nộp</th>
                                    <th width="8%">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="newsTableBody"></tbody>
                        </table>
                    </div>
                    <div class="cnt-mag-paginate d-flex justify-c flex-wr"></div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer', {}); %>
    <script>
        $(document).ready(function() {
            $(window).scroll(function() {
                var $leftNav = $('.lnav');
                var $rightContent = $('#rightContent');
                var rightContentHeight = $rightContent.outerHeight(true);
                var rightContentOffsetTop = $rightContent.offset().top;
                var rightContentBottom = rightContentOffsetTop + rightContentHeight;
                var scrollTop = $(window).scrollTop();
                var windowHeight = $(window).height();
                var leftNavHeight = $leftNav.outerHeight(true);
                if (scrollTop + leftNavHeight > rightContentBottom) {
                    $leftNav.css({
                        position: 'absolute',
                        top: (rightContentHeight - leftNavHeight) + 'px'
                    });
                } else {
                    $leftNav.css({
                        position: 'fixed',
                        top: '0'
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.nhead-rig-togm').click(function() {
                $('#mobileMenu').slideDown(300);
            });
            $('.menu-mb-close').click(function() {
                $('#mobileMenu').slideUp(300);
            });
        });
        $(document).ready(function() {
            $(".tog-mb").click(function() {
                $(this).next(".menu-mb-clist").slideToggle();
            });
        });
    </script>
    <script>
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        function formatDate(dateString) {
            var date = new Date(dateString);
            var day = String(date.getDate()).padStart(2, '0');
            var month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
            var year = date.getFullYear();
            return `${day}/${month}/${year}`;
        }
        function formatTime(dateString) {
            var date = new Date(dateString);
            var hours = String(date.getHours()).padStart(2, '0');
            var minutes = String(date.getMinutes()).padStart(2, '0');
            var seconds = String(date.getSeconds()).padStart(2, '0');
            return `${hours}:${minutes}:${seconds}`;
        }
        function deleteNew(newId, soLuongNHS) {
            if (soLuongNHS > 0) {
                alert("Tin tuyển dụng này đã có ứng viên ứng tuyển. Bạn không thể xóa.");
                return;
            }
            var confirmed = confirm("Bạn có chắc chắn muốn xóa tin tuyển dụng này?");
            if (confirmed) {
                $.ajax({
                    url: "http://localhost:3050/api/topcv1s/new/DeleteNew",
                    type: "POST",
                    headers: {
                        "Authorization": "Bearer " + getCookie('accessToken')
                    },
                    data: {idNew: newId},
                    success: function(response) {
                        if(response.data.result == true) {
                            alert(response.data.message);
                            setTimeout(() => {
                                renderTable(1);
                            }, 500);
                        }                
                    },
                    error: function(xhr, status, error) {
                        let errorMessage;
                        let response = JSON.parse(xhr.responseText);
                        if (response.error) {
                            errorMessage = response.error.message;
                        }
                        alert(errorMessage);
                        console.log('Error:', errorMessage);
                    }
                });
            } else {
                return;
            }
        }
        function editNew(new_alias, new_id, soLuongNHS) {
            if (soLuongNHS > 0) {
                alert("Tin tuyển dụng này đã có ứng viên ứng tuyển. Bạn không thể chỉnh sửa, vui lòng tạo tin mới.");
                window.location.href = "/ntd/dang-tin-tuyen-dung";
                return;
            }
            const url = `/ntd/sua-tin-tuyen-dung/${new_alias}-${new_id}`;
            window.location.href = url;
        }
        $(document).ready(function() {
        var totalNews;
        var totalPage;
        var pageSize = 10;
        function renderTable(page) {
            $.ajax({
                url: "http://localhost:3050/api/topcv1s/new/listNewNTD",
                type: "POST",
                headers: {
                    "Authorization": "Bearer " + getCookie('accessToken')
                },
                data: { page: page, pageSize: pageSize },
                success: function(response) {
                    if(response.data.result==true){
                        let listNews = response.data.data;
                        let start = (page - 1) * pageSize;
                        var timenow = Date.now();
                        let tableBody = $('#newsTableBody');
                        tableBody.empty();
    
                        listNews.forEach((news, index) => {
                            let dateUpdate = formatDate(news.new_update_time);
                            let timeUpdate = formatTime(news.new_update_time);
                            let deadline = formatDate(news.new_han_nop);
                            let hannop = new Date(news.new_han_nop).getTime()
                            let row = `
                                <tr class="fw-600">
                                    <td>${start + index + 1}</td>
                                    <td>
                                        <div class="d-flex flex-dr-c gap-2">
                                            <a class="color-main" href="/${news.new_alias}-${news.new_id}">${news.new_title}</a>
                                            <span class="fw-500">Cập nhật lúc: ${timeUpdate} ngày ${dateUpdate}</span>
                                            <span class="fw-500 fst-italic cs-color-success">(Số lượng ứng viên tiềm năng: ${news.soUvTiemNang})</span>
                                        </div>
                                    </td>
                                    <td>${news.new_view_count} Lượt xem</td>
                                    <td class="color-main">${news.soLuongNHS} Ứng tuyển</td>
                                    <td>${hannop < timenow ? 'Tin hết hạn' : 'Tin đã được đăng'}</td>
                                    <td>${deadline}</td>
                                    <td>
                                        <div class="d-flex cs-gap-10px justify-c">
                                            <div>
                                                <img alt="Edit Icon" src="/images/icon/edit_icon.svg" width="20" height="20" onclick="editNew('${news.new_alias}', ${news.new_id}, ${news.soLuongNHS})">
                                            </div>
                                            <div>
                                                <img alt="Remove Icon" src="/images/icon/remove_icon.svg" width="18" height="23" onclick="deleteNew(${news.new_id}, ${news.soLuongNHS})">
                                            </div>
                                        </div>
                                    </td>
                                </tr>`;
                            tableBody.append(row);
                        });
                    }
                },
                error: function(xhr, status, error) {
                    let errorMessage;
                    let response = JSON.parse(xhr.responseText);
                    if (response.error) {
                        errorMessage = response.error.message;
                    }
                    alert(errorMessage);
                    console.log('Error:', errorMessage);
                }
            });
        }
        function Paginate(totalPage, currentPage) {
            $('.cnt-mag-paginate').empty();
            $('.cnt-mag-paginate').append('<div class="pagi_pre_all"><<</div>');
            $('.cnt-mag-paginate').append('<div class="pagi_pre"><</div>');
            var startPage, endPage;
            if (totalPage <= 4) {
                startPage = 1;
                endPage = totalPage;
            } else if (currentPage <= 2) {
                startPage = 1;
                endPage = Math.min(totalPage, 4);
            } else if (currentPage >= totalPage - 1) {
                startPage = Math.max(1, totalPage - 3);
                endPage = totalPage;
            } else {
                startPage = currentPage - 2;
                endPage = currentPage + 2;
            }
            if (startPage > 1) {
                $('.cnt-mag-paginate').append('<div class="pagi_page">1</div>');
                if (startPage > 2) {
                    $('.cnt-mag-paginate').append('<div class="pagi_page">...</div>');
                }
            }
            for (let i = startPage; i <= endPage; i++) {
                if (i === currentPage) {
                    $('.cnt-mag-paginate').append('<div class="pagi_page active">' + i + '</div>');
                } else {
                    $('.cnt-mag-paginate').append('<div class="pagi_page">' + i + '</div>');
                }
            }
            if (endPage < totalPage) {
                if (endPage < totalPage - 1) {
                    $('.cnt-mag-paginate').append('<div class="pagi_page">...</div>');
                }
                $('.cnt-mag-paginate').append('<div class="pagi_page">' + totalPage + '</div>');
            }
            $('.cnt-mag-paginate').append('<div class="pagi_next">></div>');
            $('.cnt-mag-paginate').append('<div class="pagi_next_all">>></div>');
            $('.pagi_page').click(function() {
                if (!$(this).hasClass('active') && !$(this).text().includes('...')) {
                    $('html, body').animate({
                        scrollTop: $('.cnt-mag-table').offset().top - 200
                    }, 1000);
                    let selectedPage = parseInt($(this).text());
                    $('.pagi_page').removeClass('active');
                    $(this).addClass('active');
                    renderTable(selectedPage);
                    Paginate(totalPage, selectedPage);
                }
            });
            $('.pagi_pre').click(function() {
                if (currentPage > 1) {
                    let prevPage = currentPage - 1;
                    renderTable(prevPage);
                    Paginate(totalPage, prevPage);
                }
            });
            $('.pagi_next').click(function() {
                if (currentPage < totalPage) {
                    let nextPage = currentPage + 1;
                    renderTable(nextPage);
                    Paginate(totalPage, nextPage);
                }
            });
            $('.pagi_pre_all').click(function() {
                renderTable(1);
                Paginate(totalPage, 1);
            });
    
            $('.pagi_next_all').click(function() {
                renderTable(totalPage);
                Paginate(totalPage, totalPage);
            });
        }
        $.ajax({
            url: "http://localhost:3050/api/topcv1s/new/listNewNTD",
            type: "POST",
            headers: {
                "Authorization": "Bearer " + getCookie('accessToken')
            },
            data: { page: 1, pageSize: pageSize },
            success: function(response) {
                if(response.data.result==true){
                    totalNews = response.data.total;
                    totalPage = Math.ceil(totalNews / pageSize);
                    $(".cnt-count-job").text(`Tổng số tin tuyển dụng: ${totalNews}`);
                    Paginate(totalPage, 1);
                    renderTable(1);
                }                
            },
            error: function(xhr, status, error) {
                let errorMessage;
                let response = JSON.parse(xhr.responseText);
                if (response.error) {
                    errorMessage = response.error.message;
                }
                alert(errorMessage);
                console.log('Error:', errorMessage);
            }
        });
    });
    </script>
</body>

</html>
