<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý ứng viên ứng tuyển</title>
    <link rel="stylesheet" href="/css/ntd/manacanapp_ntd.css" as="style" >
    <link rel="stylesheet" href="/css/common.css" as="style" >
    <link rel="stylesheet" href="/css/leftnav_ntd.css" as="style" >
    <link rel="stylesheet" href="/css/header_ntd.css" as="style" >
    <link rel="stylesheet" href="/css/footer.css" as="style" >
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <div class="cnt">
        <div class="cnt-left" id="leftNav">
            <%- include('../layouts/leftnav_ntd', {}); %>
        </div>
        <div class="cnt-right" id="rightContent">
            <%- include('../layouts/header_ntd', {}); %>
            <div class="cnt-det">
                <div class="cnt-top d-flex justify-b">
                    <div class="cnt-info bg-white d-flex align-c">
                        <div class="cnt-avar rounded-circle">
                            <img class="rounded-circle" src="/images/img/cskh_image.jpg" width="114" height="114"
                                alt="Logo CSKH">
                        </div>
                        <div class="cnt-gen fw-600">
                            <div class="cnt-gen-name mb-20px">
                                Chuyên viên hỗ trợ: <span class="color-main">Mrs. Nguyễn Hồng</span>
                            </div>
                            <div class="cnt-gen-phone mb-20px">
                                SĐT - Zalo: <span class="color-main">0972319116</span>
                            </div>
                            <div class="cnt-gen-mail">
                                Email: <span class="color-alert">nguyenhongg2609@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="cnt-ban d-flex align-c">
                        <div class="cnt-ban-tit fw-700 color-white text-c">
                            Tuyển dụng nhanh, tuyển dụng hiệu quả, đăng tin miễn phí
                        </div>
                        <div class="cnt-ban-logo">
                            <img src="/images/logo/biglogo.svg" width="250" height="107" alt="Logo Image">
                        </div>
                    </div>
                </div>
                <div class="cnt-mag">
                    <div class="cnt-mag-title fs-4 fw-700 color-main mb-3">
                        ỨNG VIÊN ĐẾN ỨNG TUYỂN
                    </div>
                    <div class="cnt-mag-fil d-flex mb-3">
                        <select class="cnt-mag-fil-status">
                            <option>Tất cả</option>
                        </select>
                        <select class="cnt-mag-fil-job">
                            <option>Tất cả việc làm</option>
                        </select>
                        <button class="cnt-mag-excel fw-700 color-white d-flex align-c fs-8">
                            <img src="/images/icon/down_ico.svg" width="21" height="19" alt="Export Icon">Xuất excel
                        </button>
                    </div>
                    <div class="cnt-mag-table">
                        <table id="candidateTable">
                            <tr>
                                <th>STT</th>
                                <th>Ứng viên ứng tuyển</th>
                                <th>Vị trí</th>
                                <th>Ngày nộp</th>
                                <th>Thư xin việc</th>
                                <th>Hẹn phỏng vấn</th>
                                <th>Ghi chú</th>
                                <th>Giải pháp tuyển dụng</th>
                                <th width="5%"></th>
                            </tr>
                        </table>
                    </div>
                    <div class="cnt-mag-paginate d-flex justify-c flex-wr">
                        <div class="pagi_pre_all"> << </div>
                        <div class="pagi_pre"> < </div>
                        <div class="pagi_page active"> 1 </div>
                        <div class="pagi_page"> 2 </div>
                        <div class="pagi_page"> 3 </div>
                        <div class="pagi_page"> ... </div>
                        <div class="pagi_page"> 8 </div>
                        <div class="pagi_page"> 9 </div>
                        <div class="pagi_page"> 10 </div>
                        <div class="pagi_next_all"> > </div>
                        <div class="pagi_next"> >> </div>
                    </div>
                </div>
            </div>
            <div class="overflow"></div>
            <div class="letter_detail">
                <div class="d_flex fl_cl">
                    <span>Thư xin việc</span>
                    <textarea name="" class="detail_let" id=""></textarea>
                    <button class="close_letter">Đóng</button>
                </div>
            </div>
            <div class="date_interview">
                <div class="d_flex fl_cl">
                    <span>Lịch hẹn phỏng vấn</span>
                    <input type="hidden" id="id_uv">
                    <div class="date_input">
                        <input type="date" id="interview_date" required placeholder="Chọn ngày phỏng vấn">
                    </div>
                    <div class="btn_di_ac">
                        <button class="close_date_itv">Đóng</button>
                        <button class="save_date_itv">Lưu</button>
                    </div>
                </div>
            </div>
            <div class="note_interview">
                <div class="d_flex fl_cl">
                    <span>Thêm ghi chú</span>
                    <input type="hidden" id="id_itv">
                    <textarea class="itv_note"></textarea>
                    <div class="btn_ni_ac">
                        <button class="close_note_itv">Đóng</button>
                        <button class="save_note_itv">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer', {}); %>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                var $leftNav = $('.lnav');
                var $leftNavBot = $('.lnav-bot');
                var $rightContent = $('#rightContent');
                var rightContentHeight = $rightContent.outerHeight(true);
                var rightContentOffsetTop = $rightContent.offset().top;
                var rightContentBottom = rightContentOffsetTop + rightContentHeight;
                var scrollTop = $(window).scrollTop();
                var windowHeight = $(window).height();
                var leftNavHeight = $leftNav.outerHeight(true);
                if (scrollTop + leftNavHeight > rightContentBottom) {
                    $leftNav.css({
                        position: 'absolute',
                        top: (rightContentHeight - leftNavHeight) + 'px',
                        overflow: 'auto'
                    });
                } else {
                    $leftNav.css({
                        position: 'fixed',
                        top: '0'
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.nhead-rig-togm').click(function () {
                $('#mobileMenu').slideDown(300);
            });
            $('.menu-mb-close').click(function () {
                $('#mobileMenu').slideUp(300);
            });
        });
        $(document).ready(function () {
            $(".tog-mb").click(function () {
                $(this).next(".menu-mb-clist").slideToggle();
            });
        });
    </script>
    <script>
        function formatDate(timestamp) {
            var date = new Date(timestamp * 1000);
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();
            var hours = ("0" + date.getHours()).slice(-2);
            var minutes = ("0" + date.getMinutes()).slice(-2);
            var seconds = ("0" + date.getSeconds()).slice(-2);

            return `${day}/${month}/${year} - ${hours}:${minutes}:${seconds}`;
        }
        function convertTimestampToDateTime(timestamp) {
            const date = new Date(timestamp * 1000);
            const day = date.getUTCDate().toString().padStart(2, '0');
            const month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
            const year = date.getUTCFullYear();
            const hours = date.getUTCHours().toString().padStart(2, '0');
            const minutes = date.getUTCMinutes().toString().padStart(2, '0');
            const seconds = date.getUTCSeconds().toString().padStart(2, '0');
            return `${day}/${month}/${year} - ${hours}:${minutes}:${seconds}`;
        }
        function convertTimestampToDateTime2(timestamp) {
            var date = new Date(timestamp * 1000);
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();
            return `${day}/${month}/${year}`;
        }

        $(document).ready(function () {
            var currentPage = 1;
            var pageSize = 10;
            var totalItems = 0;
            var accessToken = getCookie('accessToken');
            function fetchData(page) {
                $.ajax({
                    url: 'http://localhost:3050/api/topcv1s/ntd/CandidatesComeToApply',
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + accessToken
                    },
                    data: JSON.stringify({
                        page: page,
                        pageSize: pageSize
                    }),
                    dataType: 'json',
                    success: function (response) {
                        console.log(response.data.data)
                        totalItems = response.data.total;
                        updateTable(response.data.data);
                        updatePagination();
                    },
                    error: function (error) {
                        console.error('Error fetching data:', error);
                    }
                });
            }
            function updateTable(data) {
                let tableBody = $('#candidateTable');
                tableBody.find("tr:gt(0)").remove();
                data.forEach((item, index) => {
                    let row = $(`<tr data-id="${item.id}">
                                    <td>${index + 1}</td>
                                    <td>
                                        <div class="d-flex align-c flex-dr-c gap-2 color-main">
                                            <span class="fw-600">${item.use_name}</span>
                                            <a class="fw-500" href="./ung-vien-uv-${item.use_id}">(Xem chi tiết)</a>
                                        </div>
                                    </td>
                                    <td class="fw-500 color-main"><a href="/${item.new_alias}-${item.new_id}">${item.new_title}</a></td>
                                    <td class="fw-600">${convertTimestampToDateTime(item.nhs_time)}</td>
                                    <td>
                                        <span data-letter="${item.thuxinviec}" class="fw-600 fst-italic color-main app_letter cursor-p">Xem chi tiết</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-c justify-c color-main gap-1 fw-600 date_itv cursor-p" data-uv="${item.id}" data-time="${item.date_interview}">
                                            <img alt="Time Icon" width="20.85" height="18.45" src="/images/icon/time_icon.svg">
                                            ${item.date_interview ? convertTimestampToDateTime(item.date_interview) : "Chưa có"}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-c justify-c color-main gap-1 note_itv cursor-p" data-uv="${item.id}" data-note="${item.note_uv}">
                                            <img alt="Note Icon" width="19" height="19" src="/images/icon/note_icon.svg"> Xem ghi chú
                                        </div>
                                    </td>
                                    <td>
                                        <select class="can_status cursor-p">
                                            <option>Trạng thái</option>
                                        </select>
                                    </td>
                                    <td>
                                        <img class="remove_can" src="/images/icon/remove_icon.svg" width="18" height="23" alt="Remove Icon">
                                    </td>
                                </tr>`);
                    tableBody.append(row);
                    row.find('.remove_can').on('click', function () {
                        const candidateId = row.data('id');
                        if (confirm('Bạn có chắc chắn muốn xóa ứng viên này không?')) {
                            deleteCandidate(candidateId, row);
                        }
                    });
                });
            }
            function deleteCandidate(id, row) {
                $.ajax({
                    url: 'http://localhost:3050/api/topcv1s/ntd/DeleteCandidateApply',
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + accessToken
                    },
                    data: JSON.stringify({ id: id }),
                    dataType: 'json',
                    success: function (response) {
                        alert('Xóa ứng viên thành công')
                        row.remove();
                        fetchData(currentPage);
                        updatePagination();
                    },
                    error: function (error) {
                        console.error('Error deleting candidate:', error);
                    }
                });
            }
            //Pagination
            function updatePagination() {
                var totalPages = Math.ceil(totalItems / pageSize);
                $('.cnt-mag-paginate').empty();
                $('.cnt-mag-paginate').append('<div class="pagi_pre_all"><<</div>');
                $('.cnt-mag-paginate').append('<div class="pagi_pre"><</div>');

                var startPage, endPage;
                if (totalPages <= 4) {
                    startPage = 1;
                    endPage = totalPages;
                } else if (currentPage <= 2) {
                    startPage = 1;
                    endPage = Math.min(totalPages, 4);
                } else if (currentPage >= totalPages - 1) {
                    startPage = Math.max(1, totalPages - 3);
                    endPage = totalPages;
                } else {
                    startPage = currentPage - 2;
                    endPage = currentPage + 2;
                }
                if (startPage > 1) {
                    addPageButton(1);
                    if (startPage > 2) {
                        $('.cnt-mag-paginate').append($('<div class="pagi_page">...</div>'));
                    }
                }
                for (var i = startPage; i <= endPage; i++) {
                    addPageButton(i);
                }
                if (endPage < totalPages) {
                    if (endPage < totalPages - 1) {
                        $('.cnt-mag-paginate').append($('<div class="pagi_page">...</div>'));
                    }
                    addPageButton(totalPages);
                }
                $('.cnt-mag-paginate').append('<div class="pagi_next">></div>');
                $('.cnt-mag-paginate').append('<div class="pagi_next_all">>></div>');

                $('.pagi_pre').prop('disabled', currentPage <= 1);
                $('.pagi_next').prop('disabled', currentPage >= totalPages);
            }
            function addPageButton(page) {
                var pageBtn = $('<div class="pagi_page"></div>').text(page).attr('data-page', page);
                if (page === currentPage) {
                    pageBtn.addClass('active');
                }
                pageBtn.click((function (page) {
                    return function () {
                        if (page !== currentPage) {
                            currentPage = page;
                            fetchData(currentPage);
                        }
                    };
                })(page));
                $('.cnt-mag-paginate').append(pageBtn);
            }
            $(document).on('click', '.pagi_pre', function () {
                if (currentPage > 1) {
                    currentPage--;
                    fetchData(currentPage);
                }
            });
            $(document).on('click', '.pagi_next', function () {
                if (currentPage < Math.ceil(totalItems / pageSize)) {
                    currentPage++;
                    fetchData(currentPage);
                }
            });
            $(document).on('click', '.pagi_pre_all', function () {
                currentPage = 1;
                fetchData(currentPage);
            });
            $(document).on('click', '.pagi_next_all', function () {
                currentPage = Math.ceil(totalItems / pageSize);
                fetchData(currentPage);
            });
            fetchData(currentPage);
            function getCookie(name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                if (parts.length === 2) return parts.pop().split(";").shift();
            }
            $('.cnt-mag-excel').click(function () {
                exportToExcel();
            });
            function exportToExcel() {
                if (totalItems == 0) {
                    alert('Chưa có ứng viên nào ứng tuyển.');
                    return
                }
                var $table = $('#candidateTable');
                var $rows = $table.find('tr');
                var csvContent = "";

                var $headers = $table.find('thead tr th');
                var headerData = [];
                $headers.each(function () {
                    headerData.push('"' + $(this).text().trim() + '"');
                });
                csvContent += headerData.join(",") + "\n";

                $rows.each(function () {
                    var $cells = $(this).find('td');
                    var rowData = [];
                    $cells.each(function () {
                        rowData.push('"' + $(this).text().trim() + '"');
                    });
                    csvContent += rowData.join(",") + "\n";
                });

                var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);
                var blob = new Blob([bom, csvContent], { type: 'text/csv;charset=utf-8;' });
                var url = URL.createObjectURL(blob);

                var $a = $('<a></a>').attr('href', url).attr('download', 'candidate_list.csv');
                $('body').append($a);
                $a[0].click();
                $a.remove();
            }
            $('.overflow, .letter_detail').hide();
            $(document).on('click', '.app_letter', function() {
                var letterContent = $(this).data('letter'); 
                $('.overflow, .letter_detail').show();
                $('.detail_let').val(letterContent).prop('readonly', true);
            });
            $(document).on('click', '.close_letter', function() {
                $('.overflow, .letter_detail').hide();
            });
            $(document).on('click','.date_itv',function() {
                var id = $(this).data('uv');
                var date = $(this).data('time')
                if(date != null){
                    var interviewDate = new Date(date * 1000).toISOString().split('T')[0];
                    $('#interview_date').val(interviewDate);
                }

                var today = new Date().toISOString().split('T')[0];
                $('#interview_date').attr('min', today);
                $('#id_uv').val(id)
                $('.overflow,.date_interview').show()
            })
            $(document).on('click','.save_date_itv',function(){
                var interviewDate = $('#interview_date').val();
                var id = $('#id_uv').val()
                if (!interviewDate) {
                    alert("Vui lòng chọn ngày phỏng vấn.");
                    return;
                } else {
                    var dateParts = interviewDate.split('-');
                    var year = dateParts[0];
                    var month = dateParts[1];
                    var day = dateParts[2];
                    $.ajax({
                        url: URL_API_NTD+ '/UpdateTimeInterview',
                        type: 'POST',
                        contentType: 'application/json',
                        headers: {
                            'Authorization': 'Bearer ' + accessToken
                        },
                        data: JSON.stringify({ 
                            id: id ,
                            year : year,
                            month : month,
                            day: day
                        }),
                        dataType: 'json',
                        success: function (response) {
                            alert('Cập nhật lịch hẹn phỏng vấn thành công')
                            fetchData(currentPage);
                            updatePagination();
                            $('.overflow, .date_interview').hide();
                        },
                        error: function (error) {
                            console.error('Error deleting candidate:', error);
                        }
                    });
                }
            })
            $(document).on('click', '.close_date_itv', function() {
                $('.overflow, .date_interview').hide();
            });
            $(document).on('click','.note_itv',function() {
                var id = $(this).data('uv');
                var note = $(this).data('note')
                if(note != null){
                    $('.itv_note').val(note);
                }

                $('#id_itv').val(id)
                $('.overflow,.note_interview').show()
            })
            $(document).on('click','.save_note_itv',function(){
                var note = $('.itv_note').val();
                var id = $('#id_itv').val()
                if (!note) {
                    alert("Vui lòng nhập ghi chú.");
                    return;
                }else{
                    $.ajax({
                        url: URL_API_NTD+ '/UpdateNoteInterview',
                        type: 'POST',
                        contentType: 'application/json',
                        headers: {
                            'Authorization': 'Bearer ' + accessToken
                        },
                        data: JSON.stringify({ 
                            id: id ,
                            note : note
                        }),
                        dataType: 'json',
                        success: function (response) {
                            alert('Cập nhật ghi chú thành công.')
                            fetchData(currentPage);
                            updatePagination();
                            $('.overflow, .note_interview').hide();
                        },
                        error: function (error) {
                            console.error('Error deleting candidate:', error);
                        }
                    });
                }
            })
            $(document).on('click', '.close_note_itv', function() {
                $('.overflow, .note_interview').hide();
            });
        })
    </script>
</body>

</html>