#cv-top {
  background-color: #93d1ed;
}

.ski {
  background-color: #93d1ed;
}

.cum {
  background-color: #93d1ed;
}

#cv-content .head {
  background-color: #93d1ed;
}

div#box02 {
  background-color: #93d1ed;
}