#cv-top {
  background-color: #dfa2e8;
}

.ski {
  background-color: #dfa2e8;
}

.cum {
  background-color: #dfa2e8;
}

#cv-content .head {
  background-color: #dfa2e8;
}

div#box02 {
  background-color: #dfa2e8;
}