.cnt{
    background-color: #F3F5F7;
    position: relative;
    height: 100vh;
    display: flex;
}

.cnt-right{
    height: 100vh;
    overflow: auto;
    flex-grow: 1;
}

.regis-new-ntd-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}

.ntd-table {
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
}

.ntd-table >table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background: #00bbcc;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background: #f8f9fa;
}

.cnt-mag-paginate{
    gap: 12px;
}
.cnt-mag-paginate > div{
    padding: 10px;
    border-radius: 16px;
}
.pagi_page.active{
    background-color: #007580;
    color: #ffffff;
}
.ntd-update{
    max-width: 60%;
    margin-bottom: 16px;
}
.ntd-item{
    margin-bottom: 16px;
}
.ntd-label{
    font-weight: 700;
    color: #007580;
    margin-bottom: 8px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background: url(/images/icon/calendar-minus-01.svg) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
.ntd-choice label{
    font-weight: 700;
    color: #007580;
}
input[type=number], input[type=date], input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #02cadd;
}
.ntd-cancel-btn,.ntd-update-btn{
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 16px;
    font-weight: 500;
    min-width: 140px;
}
.ntd-cancel-btn{
    background-color: #ffffff;
    color: #007580;
    border: 1px solid #007580;
}
.ntd-update-btn{
    background-color: #007580;
    color: #ffffff;
    border: 1px solid #007580;
}
.ntd-act{
    display: flex;
    justify-content: center;
    gap: 24px;
}
#depart_id{
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #02cadd;
}
@media (max-width: 768px) {
    .cnt-right{
        margin-left: 0;
    }
}