.cnt{
    background-color: #F3F5F7;
    position: relative;
    height: 100vh;
    display: flex;
}

.cnt-right{
    height: 100vh;
    overflow: auto;
    flex-grow: 1;
}

.regis-new-ntd-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}

.ntd-table {
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
}

.ntd-table >table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background: #00bbcc;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background: #f8f9fa;
}

.cnt-mag-paginate{
    gap: 12px;
}
.cnt-mag-paginate > div{
    padding: 10px;
    border-radius: 16px;
}
.pagi_page.active{
    background-color: #007580;
    color: #ffffff;
}

@media (max-width: 768px) {
    .cnt-right{
        margin-left: 0;
    }
}