#cv-top h1 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 42px;
  text-align: center;
  padding: 2% 1%;
  color: #000a51;
}

#cv-top h2 {
  font-weight: 600;
  text-align: center;
  font-style: italic;
  top: 80%;
  right: 46%;
  padding: 5px 10px;
  border-radius: 30px;
  color: #000a51;
}

#cv-content .head {
  border-bottom: 5px solid #000a51;
  padding-left: 13px;
  margin: 0;
  height: 40px;
  text-align: left;
  line-height: 40px;
  width: 100%;
}

#box03 .ski {
  border-bottom: 5px solid #000a51;
  display: flex;
  align-items: center;
  background-position-y: -4px;
  height: 40px;
}

.cum {
  padding: 0;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 5px solid #000a51;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

#box03 .ski .cumicc3 {
  background: url(kn.svg) no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
}

.cumicc4 {
  background: url(gt.svg) no-repeat;
  background-size: 100% 100%;
}

.cumicc5 {
  background: url(cc.svg) no-repeat;
  background-size: 100% 100%;
}

.cumicc6 {
  background: url(st.svg) no-repeat;
  background-size: 100% 100%;
}

.cumicc7 {
  background: url(ntc.svg) no-repeat;
  background-size: 100% 100%;
}

#cvo-profile-avatar-wraper .wimg {
  overflow: hidden;
  background-color: #7adcd7;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#box01 {
  border-left: 10px solid #7adcd7;
}

#cv-top h1::after {
  background-color: #7adcd7;
}

#box05,
#box03,
#box04,
#box06,
#box07 {
  background: #7adcd7;
}

#box02 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 22px;
  width: 50%;
  float: left;
  border-right: 10px solid #7adcd7;
  border-left: 10px solid #7adcd7;
}

.cv_page {
  background-image: url(main1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#cv-top {
  float: left;
  width: 100%;
  position: relative;
  padding-top: 0px;
  background: url(cvtop1.png) no-repeat;
  background-size: 100% 100%;
}