<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập TopCv1s, Khám Phá Ngay Hàng Ngàn Cơ Hội Nghề Nghiệp</title>
    <link rel="icon" href="/images/img/default_logo.jpg">
    <link rel="stylesheet" href="/css/uv/login_uv.css" as="style" >
    <link rel="stylesheet" href="/css/common.css" as="style" >
    <link rel="stylesheet" href="/css/header.css" as="style" >
    <link rel="stylesheet" href="/css/footer.css" as="style" >
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <%- include('../layouts/header', {}); %>
    <div id="content" class="d-flex justify-c" style="padding-top:80px">
        <div class="login-content d-flex justify-b">
            <div class="left-content flex-dr-c d-flex align-c">
                <img src="/images/img/loginuvimg.svg" width="337" height="323" alt="Banner">
                <h2 class="fs-4 fw-600 color-main">Đăng nhập tài khoản ứng viên để ứng tuyển công việc mong muốn</h2>
            </div>
            <div class="right-content bg-white">
                <h1 class="right-top fs-4 fw-600 text-c">
                    ỨNG VIÊN ĐĂNG NHẬP
                </h1>
                <div class="right-form">
                    <div class="form-item">
                        <div class="phone-input d-flex align-c gap-4">
                            <label for="user_phone">
                                <img src="/images/icon/userlogin.svg" alt="Số điện thoại" width="32" height="32">
                            </label>
                            <input type="text" class="fs-4" id="user_phone" name="user_phone" placeholder="Nhập địa chỉ email">
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="pass-input d-flex align-c gap-4">
                            <label for="user_pass">
                                <img src="/images/icon/passlogin.svg" alt="Mật khẩu" width="32" height="32">
                            </label>
                            <input type="password" class="fs-4" id="user_pass" name="user_pass" placeholder="Nhập mật khẩu">
                            <div class="show_pass">
                                <img width="20" height="20" alt="Show Pass Icon" src="/images/icon/eye_close.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-act justify-c">
                    <button class="btn_login bg-main fw-500 fs-4 color-white" onclick="loginCandidate()">
                        <span class="login-text">Đăng nhập</span>
                        <img class="loading-icon" src="/images/icon/loading2icon.gif" height="26.4" alt="Loading Login">
                    </button>
                    <img width="30" class="login_lr" height="30" alt="Left Button" src="/images/icon/Polygon-8.svg">
                    <img width="30" class="login_lr" height="30" alt="Right Button" src="/images/icon/Polygon-9.svg">
                </div>
                <div class="right-ques text-c">
                    <a href="/quen-mat-khau" class="ques-forgot fs-6 color-main">Quên mật khẩu?</a>
                    <h3 class="ques-exist fs-6 fw-400">Bạn chưa có tài khoản? <a href="/dang-ky-ung-vien">Đăng ký ngay</a></h3>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer', {}); %>
    <script>
        $('#user_phone').on('input', function(e) {
            var currentValue = $(this).val();
            if (currentValue.includes(' ')) {
                $(this).val(currentValue.replace(/\s/g, '')); 
            }
        });

        $('#user_pass').on('input', function(e) {
            var currentValue = $(this).val();
            if (currentValue.includes(' ')) {
                $(this).val(currentValue.replace(/\s/g, '')); 
            }
        });
        $('#user_phone, #user_pass').on('keydown', function(event) {
            if (event.which === 13) {
                loginCandidate();
            }
        });
        function setCookie(name, value, days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            const expires = "expires=" + date.toUTCString();
            document.cookie = name + "=" + encodeURIComponent(value) + ";" + expires + ";path=/";
        }

        function loginCandidate() {
            const username = $("#user_phone").val();
            const password = $("#user_pass").val();

            const data = {
                username: username,
                password: password,
            };

            $.ajax({
                url: "http://localhost:3050/api/topcv1s/user/LoginCandidate",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.data.result === true) {
                        if(response.data.data.data.auth == 0){
                            document.cookie = `phoneForOtp=${response.data.data.data.use_phone}; max-age=${60 * 24 * 60 * 60}`;
                        }
                        
                        document.cookie = `use_mail=${response.data.data.data.use_mail}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `accessToken=${response.data.data.Token}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `refreshToken=${response.data.data.RefreshToken}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `use_id=${response.data.data.data.use_id}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `auth=${response.data.data.data.auth}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `type=${response.data.data.data.type}; max-age=${60 * 24 * 60 * 60}`;
                        setCookie("userName",response.data.data.data.userName,60);
                        document.cookie = `use_phone=${response.data.data.data.use_phone}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `use_logo=${response.data.data.data.use_logo}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `usc_search=${response.data.data.data.usc_search}; max-age=${60 * 24 * 60 * 60}`;
                        document.cookie = `isLogin=true; max-age=${60 * 24 * 60 * 60}`;

                        // livechat
                        const infor = {
                            use_first_name: response.data.data.data.userName || "",
                            use_id: response.data.data.data.use_id || 0
                        }
                        document.cookie = `infor=${JSON.stringify(infor)}; max-age=${60 * 24 * 60 * 60}`

                        window.location.href = "/";
                    } else {
                        alert("Tài khoản hoặc mật khẩu không chính xác");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    if (xhr.status === 400) {
                        alert("Tài khoản hoặc mật khẩu không chính xác");
                    } else {
                        console.error("Error:", error);
                        alert(`Đã xảy ra lỗi khi đăng nhập`);
                    }
                },
            });
        }
    </script>  
</body>

</html>