<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, follow" />
    <title>Document</title>
    <link rel="canonical" href="http://localhost:9020<%= url %>">
    <link rel="stylesheet" href="/css/page_css/cv_page_rec.css" as="style">
    <link rel="stylesheet" href="/css/common.css" as="style">
    <link rel="stylesheet" href="/css/header.css" as="style">
    <link rel="stylesheet" href="/css/footer.css" as="style">
    <script src="/js/jquery.min.js"></script>
    <meta name="google-site-verification" content="lwyGMjMCHXSuJXWOc3iy1MG_Hd6yRBARF5H8NuMxUPg" />

</head>

<body>
    <%- include('layouts/header', {}); %>

    <div id="content" style="padding-top:80px">
        <div class="search">
            <div class="search-box container d-flex">
                <div class="search-til color-white">
                    <div class="search-til-top text-c">
                        <span>
                            CV THAM KHẢO
                        </span>
                    </div>
                    <div class="search-til-bot text-c">
                        Xem CV tham khảo theo ngành nghề dưới đây để giúp bạn lên ý tưởng viết CV chuyên nghiệp hơn.
                    </div>
                </div>
                <div class="search-form d-flex align-c gap-2">
                    <span>
                        <img src="/images/icon/blackglass.svg" width="20" height="20" alt="Search Icon">
                    </span>
                    <input class="fw-6" id="s_key" type="text" placeholder="Nhập tên/ chức danh">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="breadcrumb d-flex align-c gap-1">
                <a href="#" class="breadcrumb__item">Trang chủ</a>
                <img src="/images/icon/arrow-right.svg" width="14" height="14" alt="Next Breadcrumb Icon">
                <a href="#" class="breadcrumb__item active">CV Tham khảo</a>
            </div>
            <div class="content">
                <div class="cv-list">
                    <div class="cv-unit">
                        <img src="/images/img/cv-image.png">
                        <span>CV Thiết kế đồ họa</span>
                        <div>Marketing nói chung gồm 3 loại với những đặc điểm về vai trò và kĩ năng khác nhau mà bạn cần chú ý khi viết CV:(Nhân viên, Freelancer, Quản lý).</div>
                    </div>
                    <div class="cv-unit">
                        <img src="/images/img/cv-image.png">
                        <span>CV Thiết kế đồ họa</span>
                        <div>Marketing nói chung gồm 3 loại với những đặc điểm về vai trò và kĩ năng khác nhau mà bạn cần chú ý khi viết CV:(Nhân viên, Freelancer, Quản lý).</div>
                    </div>
                    <div class="cv-unit">
                        <img src="/images/img/cv-image.png">
                        <span>CV Thiết kế đồ họa</span>
                        <div>Marketing nói chung gồm 3 loại với những đặc điểm về vai trò và kĩ năng khác nhau mà bạn cần chú ý khi viết CV:(Nhân viên, Freelancer, Quản lý).</div>
                    </div>
                    <div class="cv-unit">
                        <img src="/images/img/cv-image.png">
                        <span>CV Thiết kế đồ họa</span>
                        <div>Marketing nói chung gồm 3 loại với những đặc điểm về vai trò và kĩ năng khác nhau mà bạn cần chú ý khi viết CV:(Nhân viên, Freelancer, Quản lý).</div>
                    </div>
                    <div class="cv-unit">
                        <img src="/images/img/cv-image.png">
                        <span>CV Thiết kế đồ họa</span>
                        <div>Marketing nói chung gồm 3 loại với những đặc điểm về vai trò và kĩ năng khác nhau mà bạn cần chú ý khi viết CV:(Nhân viên, Freelancer, Quản lý).</div>
                    </div>
                    <div class="cv-unit">
                        <img src="/images/img/cv-image.png">
                        <span>CV Thiết kế đồ họa</span>
                        <div>Marketing nói chung gồm 3 loại với những đặc điểm về vai trò và kĩ năng khác nhau mà bạn cần chú ý khi viết CV:(Nhân viên, Freelancer, Quản lý).</div>
                    </div>
                    <div class="cv-unit">
                        <img src="/images/img/cv-image.png">
                        <span>CV Thiết kế đồ họa</span>
                        <div>Marketing nói chung gồm 3 loại với những đặc điểm về vai trò và kĩ năng khác nhau mà bạn cần chú ý khi viết CV:(Nhân viên, Freelancer, Quản lý).</div>
                    </div>
                    <div class="cv-unit">
                        <img src="/images/img/cv-image.png">
                        <span>CV Thiết kế đồ họa</span>
                        <div>Marketing nói chung gồm 3 loại với những đặc điểm về vai trò và kĩ năng khác nhau mà bạn cần chú ý khi viết CV:(Nhân viên, Freelancer, Quản lý).</div>
                    </div>
                    <div class="cv-unit">
                        <img src="/images/img/cv-image.png">
                        <span>CV Thiết kế đồ họa</span>
                        <div>Marketing nói chung gồm 3 loại với những đặc điểm về vai trò và kĩ năng khác nhau mà bạn cần chú ý khi viết CV:(Nhân viên, Freelancer, Quản lý).</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('layouts/footer', {}); %>
    <script>
        $(document).ready(function() {
            $('.nav-item').hover(function() {
                $(this).children('.nav-dropdown').stop(true, true).fadeIn(300);
            }, function() {
                $(this).children('.nav-dropdown').stop(true, true).fadeOut(300);
            });
        });
    </script>
    
    
</body>

</html>