<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập Hôm Nay, Tuyển Dụng Và Tìm Việc Hiệu Quả Ngay</title>
    <link rel="icon" href="/images/img/icon_head.png">
    <link rel="stylesheet" href="/css/page_css/login_page.css" as="style" >
    <link rel="stylesheet" href="/css/common.css" as="style" >
    <link rel="stylesheet" href="/css/header.css" as="style" >
    <link rel="stylesheet" href="/css/footer.css" as="style" >
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <%- include('layouts/header', {}); %>
    <div id="content" style="padding-top:80px">
        <div class="login-content">
            <h1 class="page-title">Đăng nhập tài khoản nhanh tại đây</h1>
            <div class="login-box d-flex">
                <div class="login-uv bg-white">
                    <img class="login-img" width="384" height="250" src="/images/img/bg_regis_ntd.svg">
                    <div class="login-act">
                        <ul class="login-title fs-5">
                            <li>100.000+ Công việc mơ ước</li>
                            <li>365+ Mẫu CV chuyên nghiệp</li>
                            <li>22+ Bộ đề câu hỏi tuyển dụng</li>
                        </ul>
                        <a class="login-btn fs-5 color-white fw-700 bg-main cursor-p" href="/dang-nhap-ung-vien">
                            ĐĂNG NHẬP ỨNG VIÊN
                        </a>
                    </div>
                </div>
                <div class="login-ntd bg-white">
                    <img class="login-img" width="384" height="250" src="/images/img/bg_regis_uv.svg">
                    <div class="login-act">
                        <ul class="login-title fs-5">
                            <li>Đăng tin tuyển dụng miễn phí</li>
                            <li>Đăng tin không giới hạn</li>
                            <li>Biểu mẫu nhân sự chuyên nghiệp</li>
                        </ul>
                        <a class="login-btn fs-5 color-white fw-700 bg-main cursor-p" href="dang-nhap-nha-tuyen-dung">
                            ĐĂNG NHẬP NHÀ TUYỂN DỤNG
                        </a>
                    </div>
                </div>
                <div class="login-uv-mb text-c">
                    <a href="/dang-nhap-ung-vien">
                        <img class="bg-main rounded-circle" width="100" height="100" alt="uv Icon" src="/images/icon/uvicon.svg">
                    </a>
                    <p class="fs-4 color-white">
                        <a href="/dang-nhap-ung-vien">Ứng viên</a>
                    </p>
                </div>
                <div class="login-ntd-mb text-c">
                    <a href="/dang-nhap-nha-tuyen-dung">
                        <img class="bg-main rounded-circle" width="100" height="100" alt="ntd Icon" src="/images/icon/ntdicon.svg">
                    </a>
                    <p class="fs-4 color-white">
                        <a href="/dang-nhap-nha-tuyen-dung">Nhà tuyển dụng</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <%- include('layouts/footer', {}); %>
    <script>
        $(document).ready(function() {
            $('.nav-item').hover(function() {
                $(this).children('.nav-dropdown').stop(true, true).fadeIn(300);
            }, function() {
                $(this).children('.nav-dropdown').stop(true, true).fadeOut(300);
            });
        });
    </script>
</body>

</html>